<% content_main do %>
  <% mftext('Elige un avatar') do %>
  <p class="warning">Debes <a href="/cuenta/faccion">asociarte a una facción</a> antes de poder elegir un avatar.</p>
  <% end -%>
<% end -%>