<table>
  <tr style="vertical-align: top;">
    <td style="width: 50%;">
      <div class="subheader"><div><a href="/cuenta/configuracion">Configuración</a></div></div>
      <p>Configura los parámetros básicos de tu cuenta: email, contraseña.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/comentarios">Comentarios</a></div></div>
      <p>Configura las opciones para el sistema de comentarios.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/perfil">Perfil</a></div></div>
      <p>Desde aquí puedes rellenar todos los parámetros de tu ficha hasta hartarte.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/notificaciones">Notificaciones</a></div></div>
      <p>Configura los avisos que recibes en tu email.</p>
      <br />
	  <% if @user.users_roles.count > 0 then %>
	  <div class="subheader"><div><a href="/cuenta/cuenta/mis_permisos">Mis permisos</a></div></div>
      <p>Ve o elimina tus permisos.</p>
      <br />
	  <% end -%>
      <div class="subheader"><div><a href="/cuenta/mensajes">Mensajes</a></div></div>
      <p>Envía y recibe mensajes a través de la web.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/avatar">Avatar</a></div></div>
      <p>Elige tu avatar.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/blog">Blog</a></div></div>
      <p>Publica y gestiona las entradas de tu blog personal.</p>
      <br />
	  <% if @user.gmtv_channels.count > 0 then %>
	  <div class="subheader"><div><a href="/cuenta/mis_canales">Mis canales GMTV</a></div></div>
      <p>Crea y actualiza tus canales GMTV.</p>
      <br />
	  <% end -%>
    </td>
    <td style="width: 50%;">
      <div class="subheader"><div><a href="/cuenta/faccion">Facción</a></div></div>
      <p>Elige tu facción y accede al portal privado de la misma desde esta sección.</p>
      <br />
	  <% if @user.is_district_leader? then %>
	  <div class="subheader"><div><a href="/cuenta/distrito">Distrito</a></div></div>
      <p>Lidera tu distrito como lo haría un buen don o mano derecha.</p>
      <br />
	  <% end -%>
      <div class="subheader"><div><a href="/cuenta/clanes">Mis clanes</a></div></div>
      <p>Crea tu propio clan o únete a uno ya existente.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/amigos">Amigos</a></div></div>
      <p>Elige a tus amigos y mira quién te considera su amigo.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/competiciones">Competición</a></div></div>
      <p>Gestiona tus competiciones.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/estadisticas">Estadísticas</a></div></div>
      <p>Toda la información sobre tus puntuaciones de karma y fe.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/banco">Banco</a></div></div>
      <p>Información referente a tu saldo.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/apuestas">Apuestas</a></div></div>
      <p>Revisa tus apuestas pasadas y actuales.</p>
      <br />
      <div class="subheader"><div><a href="/cuenta/guids">Juegos, GUIDs y plataformas</a></div></div>
      <p>Configura los juegos y las plataformas a los que juegas habitualmente.</p>
      <div class="subheader"><div><a href="/cuenta/skins">Skins</a></div></div>
      <p>Elige una skin o crea tus propias skins.</p>
      <br />
    </td>
  </tr>
</table>

<div class="subheader"><div>Ayuda</div></div>
<p>Si tienes alguna duda o simplemente quieres saber más sobre la web y sus funciones puedes visitar la sección de <a href="/site/faq">Preguntas y Respuestas</a>.</p>
