<%mftable("Notificaciones", @notifications) do |notification| %>
  <td class="infoinline timestamp"><%=print_tstamp(notification.created_on)%></td>
  <td style="padding-left: 6px;"><%=notification.description%></td>
<% end -%>
