<%mftext('Editar categoría del FAQ') do %>

<%= form_tag :action => 'update', :id => @faq_category %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar', :class => 'button' %>
</form>
<% end -%>