<% content_main do %>
<%mftext('Nueva categoría del FAQ') do %>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Crear', :class => 'button' %>
</form>
<% end -%>
<% end -%>