RewriteEngine On

# para enlaces caducados redirigir
#RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$         http://gamersmafia.com/ [L,R=301]

# necesario para que funcionen las descargas symlinkeadas
Options +FollowSymLinks

# necesario para forzar "Save As" cuando los archivos son .txt o .cfg
ForceType application/octet-stream
Header set Content-Disposition attachment