body.lypopup {
    padding: 10px;
}

body.lypopup {
    padding: 0;
}

body.lypopup #ccontent {
    margin: 0 0 0 0;
}

body.lypopup .popup-contents {
    margin-left: 10px;
}

#ccontent table, body.lypopup table {
/*    width: 100%; */
}

table.messages { width: 100%;}
