/* Global elements */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#cpageout {
    margin-top: 67px;
}

#cpagein {
    text-align: left;
	width: 990px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

#ccontent {
    height: 1%;
    min-height: auto;
	line-height: 145%;
    padding: 8px 10px 20px 8px;;
	margin: 6px 0 80px 180px;
	background: #fff;
	border: 0;
}

.module {
    margin-bottom: 2.27em;
}

.module .mtitle {
    padding: 0.27em;
}

#ccontent .module .mcontent {
    padding: 0.54em;
    overflow: hidden;
}



.c3col {
    width: 32%;
    float: left;
    padding-right: 10px;
}

.c3colx {
    width: 39%;
    float: left;
    padding-right: 10px;
}

.c3coly {
    width: 19%;
    float: left;
}

.c2colx {
    width: 48%;
    float: left;
}