/* Global elements */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#cpageout {
    margin-top: 67px;
}

#cpagein {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#cleft {
    float: left;
    width: 150px;
}

#cright {
    float: right;
    width: 150px;
}

#ccontent {
    padding: 8px 10px 20px 10px;
    margin-left: 180px;
    margin-right: 10px;
    height: 1%;
    min-height: auto;
}

.module {
    margin-bottom: 2.27em;
}

.module .mtitle {
    padding: 0.27em;
}

#ccontent .module .mcontent {
    padding: 0.54em;
    overflow: hidden;
}

#cleft ul, #cright ul {
    list-style: none;
    margin: 0;
    padding: 0 0.27em;
    line-height: 1.82em;
}

.c3col {
    width: 32%;
    float: left;
    padding-right: 10px;
}

.c3colx {
    width: 39%;
    float: left;
    padding-right: 10px;
}

.c3coly {
    width: 19%;
    float: left;
}

.c2colx {
    width: 48%;
    float: left;
}

#cleft .module {
    margin-bottom: 10px;
}