<div class="content-attribute-name">Título</div>
<div class="content-attribute-value f_hecto content-title"><%=content.title%></div>

<div class="content-attribute-name">Descripción</div>
<div class="content-attribute-value content-main"><%=content.description%></div>

<div class="content-attribute-name">URL/HTML/Embed</div>
<div class="content-attribute-value content-description"><%=content.main%></div>
