<div class="content-attribute-name">Título</div>
<div class="content-attribute-value f_hecto content-title"><%=content.name%></div>

<div class="content-attribute-name">Descripción</div>
<div class="content-attribute-value content-description"><%=content.description%></div>

<div class="content-attribute-name">Imagen</div>
<div class="content-attribute-value content-image"><%=home_image(content.file)%></div>

<div class="content-attribute-name">Categorías</div>
<div class="content-attribute-value content-categories">
  <ul>
  <%content.terms.each do |term| %>
    <li><%=term_with_context(term)%></li>
  <% end -%>
  </ul>
</div>

