<div class="content-comments-block">
<section class="content-header">
<%=@content.name%>
</section>

<section class="content-full">
<%=@content.real_content.description if @content.real_content.respond_to?(:description)%>
<%=@content.real_content.main if @content.real_content.respond_to?(:main)%>
</section>

<section class="entities">
Entidades
</section>

<%= render :partial => '/comments/content_comments',
           :locals => { :content => @content } %>
</div>

<section class="related-contents">
Contenidos relacionados
</section>
