<div class="content-comments-block">
<section class="content-header">
<%=@content.name%>
</section>

<section class="content-full">
<%=@content.real_content.respond_to?(:description) ? @content.real_content.description : @content.real_content.main%>
</section>

<section class="entities">
Entidades
</section>

<section class="comments">
<%= render :partial => '/comments/content_comments',
           :locals => { :content => @content } %>
</section>
</div>

<section class="related-contents">
Contenidos relacionados
</section>
