<%mftext('Iniciar ban') do %>

<form method="post" action="/admin/usuarios/create_ban_request">
<input type="hidden" name="login" value="<%=params[:login]%>" />
<strong>Razones internas</strong> (visibles solo por capos):<br />
<textarea style="width: 80%; height: 150px;" name="reason"></textarea><br />
<br />

<strong>Razones externas</strong> (visibles en el perfil):<br />

<input type="checkbox" name="public_ban_reason[]" value="Abusar de poderes de staff" /> Abusar de poderes de staff<br />
<input type="checkbox" name="public_ban_reason[]" value="Aprovecharse de fallos de la web" /> Aprovecharse de fallos de la web<br />
<input type="checkbox" name="public_ban_reason[]" value="Ataques contínuos a otros usuarios" /> Ataques continuos a otros usuarios<br />
<input type="checkbox" name="public_ban_reason[]" value="Bot" /> Bot<br />
<input type="checkbox" name="public_ban_reason[]" value="Multicuenta" /> Multicuenta<br />
Otra (que sea claramente localizable en el código de conducta): <input type="text" name="public_ban_reason[]" style="width: 230px;" value="" /><br />
<br />
<input type="submit" class="button" value="Banear" onclick="return confirm('¿Estás seguro?')"/>
</form>
<% end -%>
