$j('#check_faith').html('<%=draw_faith_bar_sm(@edituser)%><div class="warning infoinline"><strong>FIXED</strong>: Antes: <%=@fp_previous%><br />Después: <%=@fp_correct%><br />Diff: (<%=@fp_correct - @fp_previous%>)</div>');
