<table>
	<tr>
		<td>Nombre</td>
		<td><%= text_field 'group', 'name', :class => 'text', :size => 80 %></p></td>
	</tr>
	<tr>
		<td>Descripción</td>
		<td><%= text_field 'group', 'name', :class => 'text', :size => 120 %></p></td>
	</tr>
	<tr>
		<td>Propietario</td>
		<td><%= text_field 'group', 'owner_user_id', :class => 'text' %></p></td>
	</tr>
</table>

<input type="submit" class="button" value="Guardar" />
