<%=render :partial => 'task_browser', :locals => { :alerts_filter => { :domain => :bazar_manager } } %>

<div class="grid-9 glast">
<%=render :partial => 'organization_status', :locals => { :cls => BazarDistrict }%>
</div>
