[submodule "public/javascripts/web.shared"]
	path = public/javascripts/web.shared
	url = https://balrog.slnc.net/web.shared.git
[submodule "plugins"]
	path = plugins
	url = https://balrog.slnc.net/vendor_plugins.git
