[submodule "public/javascripts/web.shared"]
	path = public/javascripts/web.shared
	url = git@balrog.slnc.net:web.shared.git
[submodule "vendor/plugins"]
	path = vendor/plugins
	url = git@balrog.slnc.net:vendor_plugins.git
