<% content_main do %>
<% mftext('Imágenes del día') do %>

<div class="imagesgallery">
	<% @potds = Potd.paginate(:page => params[:page], :order => 'date ASC', :per_page => 18, :include => [:image]) %>
<%= will_paginate @potds, :class => 'digg_pagination'%>
<% @potds.each do |potd| %>
<div class="screenshot" style="float: left; width: 160px;"><div style="text-align: center"><%=potd.date%></div><%=link_to "<img src=\"#{ASSET_URL}/cache/thumbnails/i/153x115/#{potd.image.file}\" />", gmurl(potd.image)%></div>
<% end %>
<div style="clear: both;">&nbsp;</div>
<%= will_paginate @potds, :class => 'digg_pagination'%>
</div>
<% end -%>
<% end -%>

<% generic_support do %>
<% end -%>
