<% if user_is_authed then %>
  <% mftext do
    qc = Term.single_toplevel(:slug => @forum.root.code) if @forum
  %>
  <div class="centered" style="margin-bottom: 15px;">
    <a href="/respuestas/new?presel_term_id=<%=qc.id if @forum && qc%>"><%=button("Nueva pregunta")%></a>
  </div>
  <div class="centered">
    <a href="/foros/nuevo_topic?forum_id=<%=@forum.id if @forum%>"><%=button("Nuevo tópic")%></a>
  </div>
  <% end -%>
<% end -%>
