<% if @code.nil? then %>
Lo sentimos pero no puedes participar en esta edición de la Gamersmafiageist.
<% else %>
Tu código para la Gamersmafiageist <%= @code.survey_edition_date %> es:<strong>
<%= @code.code %></strong>
<br />
<br />
<strong><a href="<%=@edition_url%>" target="_blank">Rellenar
la gmGeist <%= @code.survey_edition_date %> &raquo;</a></strong>
<% end -%>
