<%# TODO cache
# cache("/#{controller.portal.code}/layout/randomimg/#{Time.now.strftime('%Y%m%d')}") do %>

<% friends = controller.portal.clan.friends 
mflist('Clanes amigos', friends) do |o| %>
	<a class="content" href="<%=o.website%>"><%=o.name %></a>
<% end %> 