<% content_main do %>
  <%=mfcontent(@interview)%>
<%end -%>

<% content_support(:content => @interview) do %>
<% if @interview.is_public? then %>
<%=mfcontents_basic("Más entrevistas de #{@interview.user.login}",
	Interview.published,
    [:all, {:conditions => ['user_id = ?', @interview.user_id], :order => 'created_on DESC', :limit => 5}],
    :cache => "/entrevistas/show/latest_by_author_#{@interview.user_id}",
 	:rating => true,
	:comments_count => true,
	:more_link => "<a href=\"#{gmurl(@interview.user)}/contenidos/entrevistas\">Ver todas sus entrevistas (#{@interview.user.interviews.count})</a>")%>
<% end -%>
<% end -%>
