<%
  all = @competition.competitions_participants.find(:all, :order => 'id ASC')

  participants_size = all.size
  rounds = 1

  while  2 ** rounds < participants_size
    rounds += 1
  end
  %>
  <%=render :partial => "matchmap_Tournament_#{rounds}", :locals => { :competition => competition, :base_stage => 0 } %>