<div class="image">
  <a href="/cache/thumbnails/k/980x700/<%= @content.file%>" title="Haz click para ver la imagen más grande"><img style="width: 100%;" src="/cache/thumbnails/k/480x600/<%= @content.file%>" /></a>
  <br />
  <br />
  <%=@content.description%>
</div>