<%= render :partial => '/notification_email/header' %>
Se ha recibido una solicitud para resetear la contraseña de la cuenta <strong><a href="<%=gmurl(@recipient)%>"><%=@recipient.login%></a></strong>:<br />
<br />
Si no has solicitado ningún reseteo de contraseña por favor ignora este mensaje.
<%= render :partial => '/notification_email/footer' %>
