/* clean */
/*
body {
	background-color: #${body_background_color};
	color: #${body_color};
}

#cpagein {
	background-color: #${cpagein_background_color};
}

#cpageout {
	background-color: #${cpageout_background_color};
}

a.nav,
a.nav:visited {
	color: #${a_nav_color};
}

a.action,
a.action:visited {
	color: #${a_action_color};
}

a.nav:hover {
	color: #${a_nav_hover_color}; /* optional * /
}

a.content {
	color: #${a_content_color};
}

a.content:visited {
	color: #${a_content_visited_color};
}

a.content:hover {
	color: #${a_content_hover_color};
}

.container {
	background-color: #${container_background_color};
	border-color: #${container_border_color};
}

.module {
	border-color: #${module_border_color};
}

.module .mtitle {
	background-color: #${module_title_background_color};
	color: #${module_title_color};
	border-color: #${module_title_border_color};
}

.module .mcontent {
	background-color: #${module_content_background_color};
	color: #${module_content_color};
	border-color: #${module_content_border_color};
}

.info {
	color: #${info_color};
}

a.info {
	color: #${a_info_color};
}

    
th {
	background-color: #${th_background_color};
	color: #${th_color};
}
    
.macro-quote {
	background-color: #${macro_quote_background_color};
	color: #${macro_quote_color};
	border-color: #${macro_quote_border_color};
}


.module .mcontent .alt {
	background-color: #${module_content_alt_background_color}; 
}

#ccontent .container {
	background-color: #${ccontent_container_background_color};
	border-color: #${ccontent_container_border_color};
}

#ccontent .module {
	border-color: #${ccontent_module_border_color};
	background-color: #${ccontent_module_background_color};
}

#ccontent .module .mtitle {
	background-color: #${ccontent_module_title_background_color};
	color: #${ccontent_module_title_color};
	border-color: #${ccontent_module_title_border_color};
}

#ccontent .module .mcontent {
	background-color: #${ccontent_module_content_background_color};
	color: #${ccontent_module_content_color};
	border-color: #${ccontent_module_content_border_color};
}

input.button {
	background-color: #${form_button_background_color};
	color: #${form_button_color};
	border-color: #${form_button_border_color};
}

input.text,
select,
textarea {
	background-color: #${form_text_and_selects_background_color};
	color: #${form_text_and_selects_color};
	border-color: #${form_text_and_selects_border_color};
}

.pcent-bar {
	border-color: #${progress_bars_border_color};
	background-color: #${progress_bars_background_color};
}

.pcent-bar img.bar {
	background-color: #${progress_bars_fill_background_color};
}

.good {
	border-color: #${good_border_color};
	background-color: #${good_background_color};
	color: #${good_color};
} */
