body {
    background-color: ${page_background_color};
	background-image: ${page_background_image};
	background-repeat: ${page_background_repeat};
	background-position: ${page_background_position};
	color: ${page_color};
}

a, a:visited { color: ${page_link_color}; }
a:hover { color: ${page_link_hover_color}; }

.infoinline, .infoinline a, .infoinline a:visited {
    color: ${page_small_info_color};
}

.infoinline a:hover { color: ${page_color}; }

#mgsearch {
	background-color: ${mgsearch_background_color};
	border-color: ${mgsearch_border_color};
}

#cpageout {
	background-color: ${cpageout_background_color};
	background-image: ${cpageout_background_image};
	background-repeat: ${cpageout_background_repeat};
	background-position: ${cpageout_background_position};
}

#ccontent {
	background-color: ${ccontent_background_color};
	background-image: ${ccontent_background_image};
	background-repeat: ${ccontent_background_repeat};
	background-position: ${ccontent_background_position};	
}

#ccontent .alt1 { background-color: ${ccontent_alt1_background_color}; }

#ccontent .module .mtitle {
	background-color: ${ccontent_header_background_color};
	background-image: ${ccontent_header_titles_sprite};
	background-repeat: ${ccontent_header_background_repeat};
	background-position: ${ccontent_header_background_position};
	color: ${ccontent_header_color};	
}

#ccontent blockquote {
    border-color: ${ccontent_blockquote_border_color};
    background: ${ccontent_blockquote_background_color};
}

#ccontent code {
    border-color: ${ccontent_code_border_color};
    background: ${ccontent_code_background_color};
}

#mgheader {
	background-color: ${mgheader_background_color};
	background-image: ${mgheader_background_image};
	background-repeat: ${mgheader_background_repeat};
	background-position: ${mgheader_background_position};
	border-color: ${mgheader_border_color};
}

#cleft, #cleft .det-bottom, #cleft .det-bottom2 {
	background-color: ${cleft_background_color};
	background-image: ${cleft_background_image};
	background-repeat: ${cleft_background_repeat};
	background-position: ${cleft_background_position};
	color: ${cleft_color};	
}

#cleft a { color: ${cleft_link_color}; }

#cleft .updated a {
	background-color: ${cleft_link_updated_background_color};
	color: ${cleft_link_updated_color};
}

#cleft div.module .mcontent { border-color: ${cleft_lineseparator_color}; }

#tracker-bg-text, #recommended-bg-text, #lastcommented-bg-text { background-image: ${cleft_titles_sprites_image};}

#mgfooter {
	background-color: ${mgfooter_background_color};
	background-image: ${mgfooter_background_image};
	background-repeat: ${mgfooter_background_repeat};
	background-position: ${mgfooter_background_position};
	border-color: ${mgfooter_border_color};
}

#mgfooter li {
	border-right-color:  ${mgfooter_separator_color};
}

#mgfooter a {
	color: ${mgfooter_link_color};
}

#mgfooter a:hover {
	color: ${mgfooter_link_hover_color};
}

#gmversion .new {
	color: ${mgfooter_new_color};
	background: ${mgfooter_new_background_color};
}

#footer-spirit {
	background-image: ${mgfooter_spirit_image};
}


#logo img { background-image: ${logo_background_image}; }

/* header */
#sawtop {
	background-color: ${mgglobalmenu_background_color}; 
	background-image: ${mgglobalmenu_sprites_image};
	border-color: ${mgglobalmenu_border_color}; 
}

.sawtop-arrow { background-image: ${mgglobalmenu_sprites_image}; }

#sawli-comunidad div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-facciones div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-arena div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-bazar div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-foros div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-hq div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-anunciante div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-comunidad.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-facciones.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-arena.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-bazar.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-foros.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-hq.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawli-anunciante.alter div.f { background-image: ${mgglobalmenu_sprites_image}; }
#sawbottom { background-image: ${mgglobalmenu_sprites_image}; }
.sawbottom-arrow { background-image: ${mgglobalmenu_sprites_image}; }
.saw-dropdownlist { background-color: ${mgglobalmenu_dropdown_background_color}; } 


#mgbreadcrumb ul { 
  background-color: ${mgbreadcrumb_background_color};
  color: ${mgbreadcrumb_color}; 
}

#mgbreadcrumb a {
	color: ${mgbreadcrumb_link_color};
}

#mgbreadcrumb a:hover {
	color: ${mgbreadcrumb_link_hover_color};
}

#mgsubmenu {
	background-color: ${mgsubmenu_background_color};
	background-image: ${mgsubmenu_background_image};
	background-repeat: ${mgsubmenu_background_repeat};
	background-position: ${mgsubmenu_background_position};
	color: ${mgsubmenu_color};
}

#mgsubmenu a { color: ${mgsubmenu_link_color}; }


/* other sprites */
.btn { background-image: ${bbeditor_sprites}; }
.sprite1 { background-image: ${sprite1_sprites}; }

#homecontents .homebox .subheader { background-image: ${ccontent_header_titles_sprite}; }
#homecommunity .homebox .subheader { background-image: ${ccontent_header_titles_sprite}; }

#homegamer .homebox .subheader {
    background-image: ${ccontent_header_titles_sprite};
} 

#homebazar .homebox .subheader {
    background-image: ${ccontent_header_titles_sprite};
} 

#home-news div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-articles div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-downloads div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-topics div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-polls div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-topfactions div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-factions div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-thefaction div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-blogs div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-outstanding div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-events div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-competitions div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-bets div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-demos div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-offtopics div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-sex div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-funthings div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-images div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-we-need {
    background-image: ${ccontent_header_titles_sprite};
}

#home-xd div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-wallpapers div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-anime div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-diseno div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-cine div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-hardware div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-musica div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-estudiante div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-questions div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-seriestv div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-informatica div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-hw div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-deportes div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-desarrollo div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-newsgamer div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-results div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-inscribete div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-forosgamer div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-ladders div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-gamesplayednow div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-nextgames div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-outstanding-clan div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-esenciales div {
    background-image: ${ccontent_header_titles_sprite};
}

#home-coverages div {
    background-image: ${ccontent_header_titles_sprite};
}

