body {
	background-color: #${body_background_color};
	color: #${body_color};
}

#cpagein {
	background-color: #${page_container_background_color};
}

.header {
   border-color: #${nav_background_color};
}

#content,
#ccontent.nav,
#ccontent.info {
	background-color: #${content_background_color};
}

div.module .mcontent {
	background-color: #${nav_background_color};
}


.info,
.info #content,
.info .nav {
	background-color: #${info_background_color};
}


a { color: #${link_color}; }
a:visited { color: #${link_visited_color}; }
a:hover { color: #${link_hover_color}; }

.nav a,
.nav a:visited { color: #${nav_link_color}; }
.nav a:hover {	color: #${nav_link_hover_color};	}

.info a { color: #${info_link_color}; }
.info a:visited { color: #${info_link_visited_color}; }
.info a:hover { color: #${info_link_hover_color};	}

div.module .panel-title {
	background: #${layout_panel_header_color};
	border-color: #${layout_panel_header_color};
}

#cleft .panel-title .title { border-color: #${layout_panel_header_color};}



#ccontent.header,
#ccontent.header td {
	background-color: #${ccontent_module_background_color};
	color: #${content_header_color};
}

#ccontent.comment .authorship {
	background-color: #${comments_background_color};
	border-color: #${comments_border_color};
}