body {
	background-color: #${body_background_color};
	color: #${body_color};
}

#cpagein {
	background-color: #${page_container_background_color};
}

.header {
   border-color: #${nav_background_color};
}

#content,
#ccontent.nav,
#ccontent.info {
	background-color: #${content_background_color};
}

.nav,
.nav #content,
.nav .info {
	background-color: #${nav_background_color};
}


.info,
.info #content,
.info .nav {
	background-color: #${info_background_color};
}


a {
	color: #${link_color};
}

a:visited {
	color: #${link_visited_color};
}

a:hover {
	color: #${link_hover_color};
}


.nav a,
.nav a:visited {
	color: #${nav_link_color};
}

.nav a:hover {
	color: #${nav_link_hover_color};	
}

#ccontent.header,
#ccontent.header td {
	background-color: #${ccontent_module_background_color};
	color: #${content_header_color};
}

/* TODO copypasted */
#navpath .nav {
   background-color: #${ccontent_module_background_color};
   color: #${content_header_color};
}

#navpath ul {
	margin: 0 5px;
	padding: 0;
}

#ccontent.comment .authorship {
	background-color: #${comments_background_color};
	border-color: #${comments_border_color};
}