.pcent-bar {
   height: 4px;
   border: 1px solid;
   margin: 2px;
}

.pcent-bar.compact {
   border: 0;
}

.pcent-bar .bar {
   height: 4px;
}

#available-smileys {
	background: #fbfbfb; border: 1px solid #f3f3f3; width: 98%; height: 110px; padding: 3px; overflow: auto;
	margin-bottom: 10px; 
	margin-top: 5px;
	visibility: hidden;
	display: none;
}