#ccontent table { width: 100%;}

#notice,
.notice {
   padding: 10px;
   border: 1px solid;
}


/* ONLINE box */



.hidden { display: none; visibility: hidden;}

#mggmtv { padding-right: 218px; }

#cleft a img { border: 0; } 
#cleft ul { margin: 0; padding: 0; list-style: none;}
#cleft .panel-title .title { font-weight: bold; border: 1px solid; text-align: center; }
#cleft .module { margin-bottom: 20px; } 

#sponsors li { text-align: center; margin: 5px 0; }

#webchat textarea { width: 146px; }

#webhits .hits { font-weight: bold; text-align: center; padding: 10px 0; } 

#ccontent -csupport { display: none; visibility: hidden; }

img.icon {  border: 0; }

#ccontent a .download-now {
	background: url(../images/icons/download_now.png);
	width: 329px;
	height: 65px;
	border: 0;
}

#mgbreadcrumb { 
	margin: 0 151px;
	border: 1px solid red; 
}

#mgbreadcrumb ul,
#submenu ul {
   padding: 0 120px 0 0;
   margin: 0 14px 0 132px;
   list-style: none;
   height: 23px;
   line-height: 23px;
}

#mgbreadcrumb ul { margin-left: 10px; }

#mgbreadcrumb li a,
#submenu li a,
#submenu li span {
   display: block;
   float: left;
   height: 23px;
	line-height: 23px;
}

#mgbreadcrumb li{
   display: inline;
}

#mgbreadcrumb li a,
#submenu li a,
#submenu li span {
   padding: 0px 12px 0 3px;
}

.show { display: block; visibility: visible;}
.hide { display: none; visibility: hidden;}
