.calendar .day.low {
    background-color: #E7F7E8;
}

.calendar .day.medium {
    background-color: #C5E4C6;
}

.calendar .day.high {
    background-color: #A0CCA3;
}

.calendar .day {
    font-weight: bold;
}

table.calendar td {
    padding: 0 0 1px 0;
}