#content-stats {
    color: #ccc;
}

#ratebar {
    background-position: 0px -274px;
	background-repeat: no-repeat;
}

#ratebar-container { float: left; z-index: 1000; width: 47px; }
#ratebar img {  height: 13px; margin: 0; }