.contentinfobar ul {
    background: url(../../images/layout/contentinfobar_bg.png) left top repeat-x;
}

.contentinfobar .last {
    background: url(../../images/layout/contentinfobar_right.png) right top no-repeat;
}

.contentinfobar .content-details {
    color: #8B8B8B;
}

.contentinfobar li.first {
    background: url(../../images/layout/contentinfobar_left.png) left top no-repeat;
}