#en-tu-red ul {
	margin: 0;
	padding: 0;
}

#en-tu-red li {
	padding: 4px 0;
	list-style: none;
}

#en-tu-red li.en-tu-red-date {
	font-weight: bold;
	font-size: 11px;
	margin-top: 15px;
	color: #888;
}

#en-tu-red li.first {
	margin-top: 0;
}