.warning10 .pcent-bar .bar {
    background: #ff172f;
}

.warning9 .pcent-bar .bar {
    background: #CA4200;
}

.warning8 .pcent-bar .bar {
    background: #F95E00;
}

.warning7 .pcent-bar .bar {
    background: orange;
}

.warning6 .pcent-bar .bar {
    background: #FFDF00;
}

.warning5 .pcent-bar .bar {
    background: yellow;
}

.warning4 .pcent-bar .bar {
    background: #C7FF04;
}

.warning3 .pcent-bar .bar {
    background: #71FF1C;
}

.warning2 .pcent-bar .bar {
    background: #00E624;
}

.warning1 .pcent-bar .bar, .positive .pcent-bar .bar {
    background: green;
}

.warning10 .pcent-bar {
    border-color: #ff172f;
}

.warning9 .pcent-bar {
    border-color: #CA4200;
}

.warning8 .pcent-bar {
    border-color: #F95E00;
}

.warning7 .pcent-bar {
    border-color: orange;
}

.warning6 .pcent-bar {
    border-color: #FFDF00;
}

.warning5 .pcent-bar {
    border-color: yellow;
}

.warning4 .pcent-bar {
    border-color: #C7FF04;
}

.warning3 .pcent-bar {
    border-color: #71FF1C;
}

.warning2 .pcent-bar {
    border-color: #00E624;
}

.warning1 .pcent-bar {
    border-color: green;
}