#mgads-bottom {
    background: #fafafa url(../../images/mgads_bottom_top.gif) left top no-repeat;
}

#mgads-bottom .mgads-bottom1 {
    border-left-color: #dfdfdf;
    border-right-color: #dfdfdf;
}
