#footer-spirit {
    width: 64px;
    height: 100px;
    margin-right: 3px;
    float: right;
    background: url(../../images/footer_spirit.png);
    z-index: 5;
    position: absolute;
    right: 17px;
    margin-top: -89px;
}


#gmversion {
    width: 100px;
    height: 24px;
    position: absolute;
    float: right;
    z-index: 5;
    right: 4px;
    margin-top: 10px;
    font-size: 11px;
    color: #aaa;
	text-align: center;
}

#gmversion div {
	margin-left: auto;
	margin-right: auto;
	width: 47px;
}

#gmversion .new {
    background: #002e64;
}
