#mggnav {
    background: #fafafa;
    color: #ccc;
}

#mggnav td {
    color: #777;
}

#mggnav-factions-list {
    border-color: #880000;
}

#mggnav-platforms-list {
    border-left-color: #880000;
}

.saw-dropdownlist {
    border-color: #000;
    background: #b73006;
    color: #fff;
}

.sawbottom-arrow {
	background: url(/skins/default/images/gm20085navmenu.png) -181px -21px no-repeat;
	float: right;
	margin-left: 5px;
	margin-top: 2px;
	width: 16px;
	height: 16px;
}

.sawbottom-sel-left { height: 21px; padding-left: 4px; background: url(/skins/default/images/mgglobalmenu/sawsel_left.png) 0 0 no-repeat; }
.sawbottom-sel-right { height: 21px; background: url(/skins/default/images/mgglobalmenu/sawsel_right.png) right 0 no-repeat; }
.sawbottom-sel-bg { background: url(/skins/default/images/mgglobalmenu/sawsel_mid.png) 0 0 repeat-x; height: 21px; line-height: 21px; }
.sawbottom-sel-bg img.factionfavicon { margin: 2px 5px 0 3px; float: left; }

#mggnav-clans-my-clans-list { 
	position: absolute; 
	top: 23px; left: 450px;
}

#mggnav-skins-list { 
	position: absolute; 
	top: 27px; left: 500px;
	width: 175px;
}

#mggnav-clans-my-clans-list a { display: block; width: 100%;}