#quickportals, #show-menu {
    background: url(../../images/layout/homesel_l.png) left top no-repeat;
    height: 22px;
    line-height: 22px;
    float: left;
    margin-top: 4px;
    margin-right: 4px;
    width: 100px;
}


#quickportals #div1, #show-menu #div1 {
    background: url(../../images/layout/homesel_r.png) right top no-repeat;
    padding: 0 4px 0 4px;
    height: 22px;
    line-height: 22px;
}

#quickportals #div2, #show-menu #div2 {
    background: url(../../images/layout/homesel_m.png) left top repeat-x;
    height: 22px;
    line-height: 22px;
}

#quickportals ul {
    margin: 0 00 0;
    padding: 0;
    list-style: none;
}

#quickportals li {
    padding: 3px 5px 0 4px;
    margin: 0;
    float: left;
}