.sidecontent-list {}
	.sidecontent-list li { padding: 0 1px 1px 0; line-height: 16px; margin-bottom: 1px;}
	.sidecontent-list li a { display: block; width: 100%; padding: 0 2px; font-size: 10px; height: 16px; line-height: 16px; }