
#messages-indicator .messages a {
    background-position: -153px -72px;
    line-height: 12px;
    height: 12px;
}

#messages-indicator .messages.has-unread a {
    background-position: -153px -137px;
}

#messages-indicator .messages.has-unread > a {
    background-position: -153px -136px;
}

.moderation-queue a {
    display: block;
    float: right;
    padding-left: 18px;
    margin-bottom: 3px;
}

.moderation-queue a {
    background-position: -153px -103px;
    line-height: 16px;
    height: 16px;
}


.moderation-queue.has-pending a {
    background-position: -153px -167px;
}

#userbox2 .competition {
    background-position: -153px -85px;
}

#userbox2 .competition.activated {
    background-position: -153px -149px;
}

#userbox2 .slog a img {
    background-position: -153px -197px;
}

#userbox2 .slog.activated2 a img {
    background-position: -153px -214px;
}

#userbox2 .left-ratings {
    background-position: -63px -17px;
}

#userbox-bars {
    background: #F2F2F2;
}

#userbox-gmf-and-ratings {
    background: #F2F2F2;
}

#userbox-indicators {
    background: #F2F2F2;
}

#userbox-action-links {
    background: #F2F2F2;
}

#new-content-selector {
    border-color: #A7A2A2;
    background: #FaFaFa;
}

#new-content-selector .drafts {
    color: #000;
}

#new-content-selector .title {
    color: #a7a2a2;
}

#new-content-selector ul {
    background: #fff;
}


#userbox-action-link-competition.activated a.buttonic {
    background: #FFA500;
    color: black;
}

#new-content-selector .close {
    font-size: 12px;
    font-weight: bold;
}

#new-content-selector .title {
    font-size: 11px;
    font-weight: bold;
}

#new-content-selector li a {
    font-weight: bold;
}

#new-content-selector li {
    font-size: 11px;
}
