<% content_main do %>
<% mftext('Nueva noticia') do %>

<%= form_tag({:action => 'create'}, { :class => 'editing-content', :multipart => true }) do %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear', :class => 'button' %>
<% end %>
<% end -%>
<% end -%>

<% generic_support do %>
<% mftext('Consejos') do %>
<ul class="content-hid">
<li>Escueta</li>
<li>Revisar ortografía y gramática</li>
<li>Objetiva</li>
<li>De interés general</li>
<li>Indicar fuente / poner enlaces</li>
</ul>
<% end -%>
<% end -%>

