Juego:
<select name="game_id">
  <option></option>
  <%Game.without_faction.find(:all, :order => 'LOWER(name)').each do |game|%>
  <option value="<%=game.id%>"><%=game.name%></option>
  <% end -%>
</select>
