<table class="w100pc">
	<tr>
		<td>Imagen</td>
		<td><input type="file" name="path" /></td>
	</tr>
	<tr>
		<td>Nivel</td>
		<td><input type="text" name="level" size="2"/> <span class="infoinline">Nivel de karma necesario para poder elegir este avatar.<br />Los niveles empiezan desde 0.</span></td>
	</tr>
</table>
