<% cache("/clanes/shared/newest.#{global_var('clans_updated_on')}") do %>
  <% mftext('Clanes más recientes') do %>
    <table>
      <% get_newest_clans.each do |clan| %>
        <tr class="<%=oddclass%>">
          <td><a href="/clanes/clan/<%=clan.id%>"><%=notags(clan.name)%></a><br />
            <div class="infoinline timestamp"><%=print_tstamp(clan.created_on)%></div></td>
        </tr>
      <% end %>
    </table>
  <% end -%>
<% end -%>
