  <%mftext('Buscar clanes') do %>
  <%= form_tag({:action=> "buscar" }) %>
<input type="text" class="text" size="20" name="s" />
    <input type="submit" class="button" name="search" value="buscar" />
  </form>
  <% end -%>
