@media screen and (min-width: 481px) and (max-width: 1279px) {
  #left-sidebar {
    float: left;
    width: 200px;
  }

  #main {
    margin-left: 202px;
  }

  .content-comments-block {
    float: left;
    width: 60%;
  }

  .related-contents {
    float: left;
    margin-left: 1em;
    width: 35%;
  }
}

