@media screen and (min-width: 1280px) {
  #left-sidebar {
    float: left;
    width: 200px;
  }

  #main {
    margin-left: 202px;
  }

  .content-full {
    float: left;
    width: 40%;
  }

  .comments {
    float: left;
    margin-left: 1em;
    width: 28%;
  }

  .related-contents {
    float: left;
    margin-left: 1em;
    width: 28%;
  }
}
