@media screen and (max-width: 480px) {
  body {
    padding: 0 0.689rem;
  }

  #left-sidebar {
    display: none;
    /* float: none;
    width: auto; */
  }

  #main {
    margin-left: 0;
  }


  footer.pagelevel ul,
  footer.pagelevel div {
    margin-bottom: 1rem;
  }

  footer.pagelevel ul:last-child,
  footer.pagelevel div:last-child {
    margin-bottom: 0.5rem;
  }
}

