a {
    color: #0049a3;
}

a.nolink {
    color: #000;
}

a:visited {
    color: #3b0093;
}

a:hover {
    color: #000000;
}

body #ccontent .infoinline a {
    color: #9D9D9D;
}

body #ccontent .infoinline a:visited {
    color: #9D9D9D;
}

body #ccontent .infoinline a:hover {
    color: #000000;
}

#ccontent a.normallink {
    color: #2E218B;
}

#ccontent a:visited.normallink {
    color: #161045;
}

#ccontent a:hover.normallink {
    color: #7365DA;
}

#sawbottom a {
    color: #fff;
}

#messages-indicator .messages.has-unread a {
    color: #6e4b00;
}

#mgsubmenu li a {
    color: #fff;
}

#mgsubmenu li.active a {
    background: #fff;
    color: #000;
}

#ccontent .comments-area .comment.new .comment-header a {
    color: #bbb;
}

#ccontent .comments-area .comment.new .comment-header a:hover {
    color: #fff;
}

#homegamer .calendar .day.today a {
    background: #228B29;
    color: #ffffff;
}

#mgfooter .new a {
    color: #fff;
}

.sidecontent-list li.updated a {
    color: #fff;
}

#gmversion a {
    padding: 3px;
}


#userbox a {
    color: #636363;
}

#userbox a:hover {
    color: #000;
}

#mggnav-factions-list a {
    color: #fff;
}

#mggnav a {
    color: #0115d1;
}