a {
    color: #0049a3;
}

a.nolink {
    color: #000;
}

a:visited {
    color: #3b0093;
}

a:hover {
    color: #000000;
}

.infoinline a:hover { color: #000000; }

#sawbottom a {
    color: #fff;
}

#messages-indicator .messages.has-unread a {
    color: #6e4b00;
}

#mgsubmenu a {
    color: #fff;
}

#mgsubmenu li.active a {
    background: #fff;
    color: #000;
}

#ccontent .comments-area .comment.new .comment-header a {
    color: #bbb;
}

#ccontent .comments-area .comment.new .comment-header a:hover {
    color: #fff;
}

#homegamer .calendar .day.today a {
    background: #228B29;
    color: #ffffff;
}

#mgfooter .new a {
    color: #fff;
}

#cleft .sidecontent-list .alt1 { background: transparent; }

#cleft .new a {
    color: #fff;
}

#gmversion a {
    padding: 3px;
}

#mggnav-factions-list a {
    color: #fff;
}

#mggnav a {
    color: #0115d1;
}