#mggnav {
    background: #fafafa;
    color: #ccc;
}

#mggnav td {
    color: #777;
}

#mggnav a {
    color: #0115d1;
}

#mggnav-factions-list a, #mggnav-clans-list a, #mggnav-hq-list a {
    color: #ccc;
}

#mggnav-factions-list {
    background: #000;
}

#mggnav-factions-list {
    background: #b82004;
    border-color: #880000;
}

#mggnav-factions-list a {
    color: #fff;
}

#mggnav-platforms-list {
    border-left-color: #880000;
}

#mggnav-clans-list {
    background: #000;
}

#mggnav-hq-list {
    background: #000;
}


