body {
    background: #fff;
    color: #000;
}

#ccontent .module .mcontent {
    background: transparent;
}

#ccontent .module .mtitle {
    background: #000 url(../images/layout/cabeceras_portada.png) repeat-x scroll left -26px;
    line-height: 30px;
    color: #fafafa;
}

#cmain .mftext .mftext .mtitle {
    margin-top: 20px;
    margin-left: 0;
}

#cmain .module .mtitle.mcontent-title {
    margin-top: -8px;
    margin-left: -8px;
    background: #000 url(../images/bgmtitle.gif) right bottom no-repeat;
    color: #fafafa;
}

#ccontent .module .mcontent-title span {
    margin-left: 70px;
}

#cpageout {
    background: url(../images/bricks.jpg) left 0 repeat;
}

body.lypopup {
    background: #ffffff;
    color: #000;
}

#ccontent {
    background: #fff;
}

.alt1 .alt0 {
    background-color: #FFFFFF;
}

.alt1, .alt0 .alt1 {
    background-color: #F2F2F2;
}

.homebox .title {
    background: #fff url(../images/layout/home_titlebar.png) top left no-repeat;
    color: #fff;
}

.homebox .screenshot img {
    border-color: #000000;
}

.homebox .classifier {
    color: #646568;
}

#csupport .current a {
    font-weight: bold;
    text-decoration: none;
}

.contenttitle {
    background: #ffffff;
    border-color: #DFDFDF;
}

.contenttitle h1 {
    background: #EBEBEB;
}

.contenttitle.message-content h1 {
    background: transparent;
}

body.lypopup h1 {
    color: #fff;
    background: #000;
}


.karmalevel {
    color: #000;
}

.karmabar_bg {
    border-color: #a6a6a6;
}

.karmabar_fill {
    background: #a6a6a6;
}

.infoinline, .infoinline a, .infoinline a:visited {
    color: #a6a6a6;
}

.alt1 .infoinline, .alt0 .infoinline {
    color: #6A6A6A;
}

.subheader {
    background: #FAFAFA;
    border-color: #E0E0E0;
}

#ccontent .content-hid li a, #csupport .fcontents-basic li a {
    background: url(../images/icons/content-hid.png) left center no-repeat;
}

#ccontent .content-hid li.updated, #csupport .fcontents-basic li.updated a {
    background: url(../images/icons/content-hid-updated.png) left center no-repeat;
}

#cleft .new a {
    background: #002e64;
}

/* downloads  */
tr.downloads-folder td.first {
    background-image: url(../images/misc/downloads_folder.png);
    background-position: center left;
    background-repeat: no-repeat;
}

tr.downloads-download td.first {
    background-image: url(../images/misc/downloads_download.png);
    background-position: center left;
    background-repeat: no-repeat;
}

.content-category {
    color: #bbb;
}

#notice, .feedback-ok, .notice {
    background: #F0FFF0;
    color: Green;
    border-color: green;
}

.day-separator {
    background: #f8f8f8;
    border-color: #ddd;
    color: #666;
}


body.community #ccontent .content-hid li.new a, body.wpcomunidad #ccontent .fcontents-basic li.new a, #homecommunity .content-hid li.new a {
    background: url(../images/icons/content-hid-new-contents.png) left center no-repeat;
}

#homegamer .content-hid li.new a, body.wpgamer #ccontent .fcontents-basic li.new a {
    background: url(../images/icons/content-hid-new-contents.png) left center no-repeat;
}

body.wpbazar #ccontent .fcontents-basic li.new a, #homebazar .content-hid li.new a {
    background: url(../images/icons/content-hid-new-contents.png) left center no-repeat;
}

body.user-anonymous #ccontent .content-hid li.new a {
    background: url(../images/icons/content-hid.png) left center no-repeat;
}

#homegamer .black.more a {
    color: #000000;
}

textarea {
    border-color: #DFDFDF;
}

.warning, #error {
    color: #AD0011;
    border-color: #ad0011;
    background: #FAEFEF;
}

.feedback-error {
    color: #AD0011;
    background: #FAEFEF;
    font-weight: bold;
}



#homegamer .calendar .dayName th {
    background: #DFDFDF;
}

.homebox .calendar td.day, .homebox .dayName th {
    border-color: #DFDFDF;
}

.homebox.articles img {
    border-color: #000000;
}

#ccontent .system-message {
    border-color: #DFDFDF;
    background: #FAFAFA;
}

#ccontent .system-message .register-now img {
    border-color: #000000;
}

#ccontent img.example {
    border-color: #a6a6a6;
}

#ccontent blockquote {
    background: #FFFFF0;
    border-color: #CFCEAF;
}

#ccontent code {
    border-color: #aaa;
    background: #f4f4f4;
}

.pcent-bar {
    background: #fafafa;
    border-color: #ddd;
}

.pcent-bar .bar {
    background: #ddd;
}

.members .pcent-bar .bar {
    background: #AD0011;
}


.negative .pcent-bar .bar {
    background: #860000;
}

.karma .pcent-bar .bar {
    background: #2577A7;
}

.karma .points {
    color: #2577A7;
}

.karma .pcent-bar {
    background: #D9D9D9;
    border-color: #2577A7;
}

.faith .pcent-bar .bar {
    background: #8F04AD;
}

.faith .pcent-bar {
    background: #D9D9D9;
    border-color: #8F04AD;
}

.faith .points {
    color: #8F04AD;
}

.comments-bar .pcent-bar {
    background: #D9D9D9;
    border-color: #ddd;
}

.comments-bar .pcent-bar .bar {
    background: #636363;
}

.commentlink img {
    background: url(../images/s.png) left -162px no-repeat;
}


.cash-in {
    color: #045E0A;
}

.cash-out {
    color: #AD0011;
}

#ccontent tr.alt1.selrow td, #ccontent tr.alt0.selrow td {
    background: #FFFFC6;
}




.rss {
    background: url(../images/icons/feed-icon_orange-12px.png) top left no-repeat;
}


body.cocuenta-cuenta .choose-avatar img.selected {
    border-color: #f00;
}

.match-won {
    color: #00C402;
}

.match-won.bgtoo {
    background: #80FF81;
    color: #000;
}

.match-lost {
    color: #A60000;
}

.match-lost.bgtoo {
    background: #FF4040;
    color: #000;
}

.match-tie.bgtoo {
    background: #FDE4A0;
    color: #000;
}

#ccontent .message-preview {
    color: #aaa;
}

.matchmap-tourney td.match {
    background: #e7e7e7;
}

.new .content-category {
    background: url(../images/s.png) 0 -45px no-repeat;
}

.alt1.new .content-category {
    background: url(../images/s.png) -24px -45px no-repeat;
}

#ccontent a .shop-buy {
    background: url(../images/icons/buy.gif);
    width: 162px;
    height: 66px;
    border: 0;
}

#userbox-avatar a img {
    border-width: 1px;
}

.gmd10 {
    background: url(../images/s.png) 0 -267px;
}

.information {
    border-color: #878500;
    color: #878500;
    background: #fffe97;
}

#admin-stats .good, #admin-stats .smgood {
    color: #17C114;
}

#admin-stats .bad, #admin-stats .smbad {
    color: #BA1B1B;
}

.good {
    color: #17C114;
}

.goodsoft {
    color: #0B600A;
}

.badsoft {
    color: #5D0E0E;
}

.bad {
    color: #BA1B1B;
}

#content .sm {
    color: #8B8B8B;
}

.rss16 {
    list-style-image: url(/skins/default/images/rss16.png);
}

.rss16 li a {
    font-weight: bold;
}

tr.value-is-low td.value {
    color: #AD0011;
    background: #fce0e0;
}

tr.value-is-high td.value {
    background: #ddfddd;
    color: Green;
}

.bar-quality {
    width: 143px;
    height: 9px;
    margin-left: 2px;
    margin-top: 2px;
    background: url(../images/bar_quality.png) 0 0 no-repeat;
}

.notification-header {
    background-color: #000;
    color: #fff;
}