#ccontent table {
  width: 100%;
}

.mfcontents-basic ul {
  margin-top: 0;
}

#mgads {
  text-align: center;
}

.comments-area .user-info-holder,
.question-best-answer-comment .user-info-holder {
  padding: 9px 8px 20px 8px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.comments-area .user-info {
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.user-info-holder .avatar {
  margin-left: 4px;
}

p img {
  max-width: 100%;
}

.comment-header .factionfavicon {
  position: absolute;
  margin: 3px 0 0 5px;
}

#login-box,
#login-box td {
  text-align: left;
}

body #ccontent.maximized {
  margin-left: 10px;
}
body #cpageout #cmain.maximized {
  margin-right: 0;
  width: 960px;
}

/* IE hack
#cmain .mcontent {
  height: 1%;
}
*/

#cmain table {
  width: 100%;
}

.questions-best-answer {
  text-align: right;
}

.question-best-answer-comment {
  margin: 20px 0;
}
.question-best-answer-comment .user-info {
  margin-right: 20px;
}

.question-prize {
  float: right;
  text-align: right;
  padding: 5px 10px;
}
.question-prize .ammount {
  font-weight: bold;
}

.delprofilesignature {
  float: right;
}

#comment_comment {
  width: 500px;
}

#cmain .module .mtitle.mcontent-title {
  margin-left: 0;
  margin-top: 0;
}

.det-bottom2 .mtitle {
  display: none;
  visibility: hidden;
}

#cpageout .more {
  margin-right: 0;
}

.module .mtitle {
  margin-left: 0;
  margin-top: 0;
}

#ccontent .module.sub-modules .mcontent {
  padding-top: 0;
}
#ccontent .module.sub-modules .mcontent .mcontent {
  padding-top: 0.54em;
}

#ccontent .module.sub-modules .blast {
  margin-bottom: 0;
}

#ccontent .module.sub-modules .mcontent .mtitle {
  text-transform: uppercase;
}
#ccontent .module.sub-modules .mcontent .mtitle span {
  margin-left: 0;
  padding: 0 0 0 5px;
}
#ccontent table {
  border-collapse: collapse;
}
#ccontent td {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#ccontent table img {
  border-collapse: separate;
}

.mgimage-right {
  margin-right: 0px;
}

.mflist-row-images ul {
  ;
}
.mflist-row-images li {
  float: left;
  margin-right: 10px;
}

#cpageout ul.content-hid {
  margin-left: 0;
  padding-left: 0;
}

#cpageout .mfcontents-basic ul,
#cpageout .mfcontents-ul ul {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#cpageout .mfcontents-basic li,
#cpageout .mfcontents-ul li {
  clear: left;
}

#mgfriends-online {
  text-align: center;
}
#mgfriends-online-table table {
  width: 100%;
}
#mgfriends-online-table td {
  text-align: left;
}

#recommendations4u {
  margin-bottom: 20px;
}

.mcontent ul.content-hid {
  margin-top: 0;
}

.mfcontents-basic .mcontent ul,
.mfcontents-ul .mcontent ul {
  margin-left: 0;
}
#ccontent td.match-won {
  padding-right: 4px;
}
#ccontent .module .mtitle span img.factionfavicon {
  margin: 6px 4px 0 4px; float: left;
}
