/* really dirty down here */
/* TEMP NOTCLEAN typography * /
/* :=TYPOGRAPHY */
.homebox .screenshot {
  text-align: center;
}

body.lypopup h1 {
  font-weight: bold;
  padding: 10px 10px;
  margin: 0 0 10px 0;
}

/* comentarios TODO cleanup */
/* COMMENTS */
.comments-area .nav.title {
  font-weight: bold;
}

.comments-area .comment-number, .number {
  font-weight: bold;
}

.comments-area .author {
  font-weight: bold;
}

.karmapoints, .reputation {
  font-weight: bold;
}

.comments-area .userinfo .rank {
  text-align: right;
}

#ccontent th {
  text-align: left;
}

/* downloads  */
.content-category {
  text-transform: uppercase;
  font-weight: normal;
}

.more {
  text-align: right;
}

ul.online li {
  font-weight: bold;
}

/* wysiwyg */
.button.selectable {
  text-decoration: underline;
  cursor: pointer;
}

#ccontent label {
  font-weight: bold;
}

#ccontent .homebox label {
  font-weight: normal;
}

.faq_category {
  font-weight: bold;
}

#minichat {
  overflow: auto;
}

#minichat .nick {
  font-weight: bold;
}

.day-separator {
  font-weight: bold;
}

#ccontent table label {
  font-weight: normal;
}

.more a {
  font-weight: bold;
}

#ccontent table.calendar .monthName th {
  text-transform: uppercase;
}

.homebox .factions td.members {
  text-align: right;
}

th.timestamp, td.timestamp, th.number, td.number {
  text-align: right;
}

th.sm-icon, td.sm-icon {
  text-align: center;
}

.cash-in, .cash-out {
  font-weight: bold;
}

.comment-rating-state {
  font-weight: bold;
}

.match-won, .match-lost, .match-tie {
  font-weight: bold;
}

#ccontent dt {
  font-weight: bold;
}

#ccontent .message-preview {
  font-weight: normal;
}

#ccontent .comments-mood {
  font-weight: normal;
}

/**
 * Userbox
 */
#ccontent .cmain tr.forum-category td.infoinline {
  font-weight: bold;
}
