<dl class="primary">
  <dt class="primary">No recibir más emails</dt>
  <dd class="primary">
  <h1>¿Estás seguro?</h1>
<form method="post" action="/cuenta/amigos/olvidadme">
	<input type="hidden" name="eik" value="<%=params[:eik]%>" />
	<div class="bad-block">Si haces click en el botón "Confirmar" no volverás a recibir ninguna invitación de tus amigos desde LaFlecha.</div>
  <br />
  <input type="submit" class="button" value="Confirmar" />
</form>
</dd>
</dl>
