<% if flash[:notice] -%>
  <div id="notice" class="good-block"><%= flash[:notice] %></div>
  <script type="text/javascript"> window.setTimeout("$('#notice').fadeOut('normal')", 4000); </script>
<% end -%>

<% if flash[:error] -%>
<div class="warning"><%= flash[:error] %></div>
<% end -%>
