<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
  <script type="text/javascript"> window.setTimeout("$('#notice').fadeOut('normal')", 4000); </script>
<% end -%>

<% if flash[:error] -%>
<div id="error"><%= flash[:error] %></div>
<% end -%>