var close = "<div class=\"footer\"> \
<a href=\"#\" class=\"close\" onclick=\"$(document).trigger('close.facebox'); return false;\"> \
<span class=\"gm-icon small\">&#xe046;</span> Cerrar \
</a> \
</div> ";

$.facebox('<div class="facebox-content"><%=flash[:error] ? "<div id=\"error\">#{flash[:error]}</div>" : "<div id=\"notice\">#{flash[:notice]}</div>" %>'+close+'</div>')

<%= custom_js if defined?(custom_js)%>
