<%=ads_slots('sideleft', '1-0')%>
<% if nil then %>
<%ab_test('sideleft-bandits', 0, :add_xab_to_links => true) do %><%=ads_slots('sideleft', '1-0')%><% end -%>
<%ab_test('sideleft-bandits', 1, :add_xab_to_links => true) do %><%=ads_slots('sideleft-epsilongreedy', '1-1')%><% end -%>
<%ab_test('sideleft-bandits', 2, :add_xab_to_links => true) do %><%=ads_slots('sideleft-epsilonfirst', '1-2')%><% end -%>
<%ab_test('sideleft-bandits', 3, :add_xab_to_links => true) do %><%=ads_slots('sideleft-epsilondecreasing', '1-3')%><% end -%>
<%ab_test('sideleft-bandits', 4, :add_xab_to_links => true) do %><%=ads_slots('sideleft-softmax', '1-4')%><% end -%>
<%ab_test('sideleft-bandits', 5, :add_xab_to_links => true) do %><%=ads_slots('sideleft-leasttaken', '1-5')%><% end -%>
<%ab_test('sideleft-bandits', 6, :add_xab_to_links => true) do %><%=ads_slots('sideleft-poker', '1-6')%><% end -%>
<% end -%>