<%
parsed = []
mftable('Tags', content.users_contents_tags.find(:all, :order => 'terms.name', :include => :term)) do |uct|
next if parsed.include?(uct.term_id)
parsed<< uct.term_id %>
<td><a href="/tags/<%=uct.term.slug%>"><%=uct.term.name%></a></td>
<td class="right"><%=uct.term.contents_tagged_count%></td>
<% end -%>