<% 
uzers = category.top_contributors(:taxonomy => "#{Inflector::pluralize(cls.name)}Categories", :limit => 5)
uzers.each do |info|
  %>
  <%= draw_user_info(info[:user]) %>
  <br />
  <%= draw_pcent_bar(info[:pcent]) %>
  <div class="infoinline" style="text-align: right;"><a href="<%=gmurl(info[:user])%>/contenidos/<%=Cms::translate_content_name(cls.name)%>">Más <%=Cms::translate_content_name(cls.name)%> de <%=info[:user].login%></a></div>
  <br />
  <br />
<% end %>