<% pager_params = pager_params || {}

anchor ||= nil
out = will_paginate(collection, {:previous_label => '&laquo; Anterior', 
								 :next_label => 'Siguiente &raquo;',
						 	     :inner_window => 2,
							     :outer_window => 1,
								 :params => pager_params
								  })
if out then %>
<div class="mpager">
  <div class="pager-<%=pos%>">
  	<span class="pages">Páginas: <%=out.gsub(/(xs=[a-z0-9A-Z]+)/, '').gsub('&amp;', '&').gsub(/[&]{2,}/, '&').gsub('&', '&amp;').gsub('&amp;hellip;', '&hellip;')%></span>
	</div>
</div>
<% end -%>