<style>
div.auto_complete {
width: 350px;
background: #fff;
}
div.auto_complete ul {
border: 1px solid #888;
margin:0;
padding:0;
width: 200px;
font-size: 11px;
list-style-type:none;
}
div.auto_complete ul li {
margin:0;
padding:3px;
}
div.auto_complete ul li.selected {
background-color: #ffb;
}
div.auto_complete ul strong.highlight {
color: #800;
margin:0;
padding:0;
}
</style>

<input type="text" class="text" id="user_lookup" name="<%=field_name%>" />

<div class="auto_complete" id="user_lookup_auto_complete" ></div>
<%=prototype_includes%>
<%= javascript_tag("new Ajax.Autocompleter('user_lookup' ,
'user_lookup_auto_complete', '/updateame', {fullSearch: true,
frequency: 0,
minChars: 3
});") %>
