<% content_main do %>
  <% mftext('Nuevo sponsor') do %>

<%= form_tag({:action => 'create'}, :multipart => true)%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Crear', :class => 'button' %>
</form>

<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>