<% if user_is_authed then %>
	<% mftext('Alegría del día') do %>
		<div class="potd-pref-selector">
		<a class="daily-joy-babe2" title="Ver chicas" onclick="Gm.Slnc.setPref('sex', 'babe');">
      <img src="/images/blank.gif" />
    </a>
		<a class="daily-joy-dude2"  title="Ver chicos" onclick="Gm.Slnc.setPref('sex', 'dude');">
      <img src="/images/blank.gif" />
    </a>
		<a class="daily-joy-void2" title="No ver nada" onclick="Gm.Slnc.setPref('sex', 'void');">
      <img class="icon" src="/images/blank.gif" /></a>
    </div>
    <div></div>
		<div style="clear: right;"></div>
    <%
    daily_job_term = get_user_daily_joy_term
    if daily_job_term then %>
		<%= render(:partial => '/imagenes/pick_from_gallery',
               :locals => { :term_id => daily_job_term })%>
    <% end -%>
<% end -%>

<% end -%>
