<% cache("/#{controller.portal_code}#{Cache::FRAG_HOME_INDEX_QUESTIONS}") do %>
<%
questions = Question.published.find(:all, :conditions => 'answered_on IS NULL AND questions.created_on > now() - \'7 days\'::interval', :order => 'COALESCE(ammount, 0) desc, created_on DESC', :limit => 5)
questions = Question.published.find(:all, :conditions => 'answered_on IS NULL', :order => 'COALESCE(ammount, 0) desc, created_on DESC', :limit => 5) if questions.size == 0
mfcontents_list("Preguntas",
				   Proc.new { questions }
				   ) do |o| %>
<a href="<%=gmurl(o)%>"><%=content_category(o)%><%=o.title%></a>
<% end -%>
<% end %><%# cache -%>
