<%
@topic = Topic.find(11969)
%>
<div id="flexbox">
<div class="box" id="content">
<h1><%= @topic.title %></h1>
<br />
<%= @topic.main %>
</div>

<div class="box" id="comments">
<% @topic.unique_content.comments.each do |comment| %>
    <div class="comment"><%=comment.comment%></div>
<% end -%>
</div>

<div class="box">
	<h2>Related</h2>
</div>
<div class="box">
    <h2>Double Related</h2>
</div>
</div>