<% content_support do %>
<% end -%>

<% content_main do %>
<% mftext(print_tstamp(@t_start, 'date')) do %>
  <%mftext('Eventos para hoy') do %>
  <table>
    <% Event.intersect_day(@t_start).each do |e| %>
    <tr class="<%=oddclass%>">
      <td><a href="<%=gmurl(e)%>"><%=e.title%></a></td>
      <td class="right"><%=member_state('active')%><%=e.users.count%></td>
    </tr>
    <% end %>
  </table>
  <% end -%>
<% end -%>
<% end -%>