<form method="post" action="/cuenta/skins/update/<%=@skin.id%>" enctype="multipart/form-data">
<input type="file" name="skin[file]" /><br />
<input type="submit" class="button" value="Guardar" />
</form>