<% content_main do %>
<% mftext('Otras opciones') do %>
<form method="post" action="/cuenta/skins/do_otras_opciones" enctype="multipart/form-data">
	<input type="hidden" name="id" value="<%=params[:id]%>" />

<%=color_selector('skin[css_properties][page_background_color]', @skin.config[:css_properties][:page_background_color])%>

<input type="submit" class="button" value="Guardar" />
</form>
<% end %>
<% end %>