<table>
	<tr>
		<th>Usuario</th>
	</tr>
	
	<%User.can_login.find(:all, :conditions => "antiflood_level > 0", :order => 'lower(login)').each do |u| %>
	<tr class="<%=oddclass%>">
		<td><%=user_link(u)%></td>
	</tr>
	<% end -%>
</table>
<br />
<a href="/slog/capo">&laquo; Volver</a>
