<% content_support do %>
	<% if !@funthing.is_public? then %>
<%= render :partial => '/shared/content_publishing_state', :locals => { :object => @funthing } %>
	<% end -%>
<% end -%>

<% content_main do %> 
  <%=mfcontent(@funthing)%>
<%end -%>