<%
@avatars = Avatar.paginate(:page => params[:page], :per_page => 50, :conditions => "#{params[:mode]}_id is not null", :order => 'created_on DESC')
%>
<%= render :partial => 'shared/pager2', :locals => {:collection => @avatars, :pos => 'top'} %>
<%= render :partial => 'latest_avatars', :locals =>  { :avatars => @avatars } %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @avatars, :pos => 'bottom'} %>