<%generic_support do%>
  <%if user_is_authed && Authorization.can_edit_games?(@user)%>
    <a href="<%=edit_game_url(@game)%>">Editar juego</a>
  <% end -%>
<% end -%>

<%content_main do%>
  <%=@game.name%>
<% end -%>
