<% content_main do %>
<% mftext('Nuevo tutorial') do %>

<%= form_tag({:action => 'create'}, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear', :class => 'button' %>
</form>
<% end -%>
<% end -%>

<% generic_support do %>
  <% mftext('Consejos') do %>
    <ul class="content-hid">
      <li>Debe tener una cierta longitud</li>
      <li>Revisar ortografía y gramática</li>
      <li>De interés general</li>
    </ul>
  <% end -%>
<% end -%>
