@media screen and (min-width: 481px) {
  footer.pagelevel {
    min-height: 5rem;
  }

  .footer-copyright {
    float: left;
    width: 49%;
    margin-top: 1.5rem;
  }

  .footer-dev {
    float: right;
    width: 49%;
    margin-top: 1.5rem;
    text-align: right;
  }
}
