/* Global elements */
#cpagein {
  padding-top: 2.1rem;
  margin-left: 20px;
  margin-right: 20px;
}

#cpagein:after {
  content: "";
  display: table;
  clear: both;
}

#ccontent {
  height: 1%;
  min-height: auto;
  float: right;
  width: 83.0%;
}

#cmain {
  padding-left: 1rem;
  float: left;
  width: 73%;
}

#csupport {
  width: 23%;
  max-width: 400px;
}

.module {
  margin-bottom: 2.27em;
}

#ccontent .module .mcontent {
  padding-top: 8px;
  overflow: hidden;
}

.c3col {
  width: 32%;
  float: left;
  padding-right: 10px;
}

.c3colx {
  width: 39%;
  float: left;
  padding-right: 10px;
}

.c3coly {
  width: 19%;
  float: left;
}

.adslot a img, #ccontent .adslot a img {
  border: 1px solid #aaa;
}

#csupport .adslot {
  margin: 0 0 10px 0;
}

.c3col {
  width: 32%;
  float: left;
  padding-right: 10px;
}

.c3colx {
  width: 39%;
  float: left;
  padding-right: 10px;
}

.c3coly {
  width: 19%;
  float: left;
}

.c2colx {
  width: 48%;
  float: left;
  margin-right: 15px;
}

.editing-content {
  margin-bottom: 30px;
}

#cpageout.gm20085 #ccontent .xmain td, #cpageout.gm20085 #ccontent .xdescription td {
  padding-left: 5px;
  padding-right: 5px;
}

#loading {
  position: absolute;
  top: 5px;
  left: 50%;
}
