th.checkbox, td.checkbox {
  width: 25px;
  text-align: center;
}

#ccontent table.compact {
  border-collapse: collapse;
}

#csupport .current a {
  display: block;
}

#csupport .current a {
  width: 178px;
  padding-left: 5px;
}

.titleavatar {
  width: 61px;
  height: 62px;
  float: left;
}

.titleavatar img {
  border: 1px solid;
  margin: 5px 0 0 5px;
}

.message-body {
  padding: 10px 10px 10px 66px;
}

#ccontent table.pollvotes td {
  padding-bottom: 6px;
  padding-top: 6px;
}

.avatar img {
  width: 50px;
  height: 50px;
}

.subheader {
  clear: left;
  padding: 0 1px;
  margin: 25px 1px 5px 0;
}

.subheader.first {
  margin: 1px 1px 7px 1px;
}

.subheader div {
  padding-left: 12px;
}

#csupport {
  float: right;
  margin-left: 5px;
}

#csupport p {
  margin-left: 3px;
}

#ccontent td.content-hid, #csupport .fcontents-basic .content-hid {
  padding-left: 12px;
}

#csupport ul.content-hid,
#cmain ul.content-hid,
#csupport ul.sidelist,
#csupport .fcontents-basic ul {
  margin: 0 0 20px 0;

}

#ccontent ul.content-hid ul.content-hid {
  margin-bottom: 0;
}

#ccontent .content-hid li a, #csupport .fcontents-basic li a {
  padding-left: 14px;
}

#webchat input {
  width: 100px;
}

.boxtitle {
  padding-top: 16px;

}

.homebox {
  margin-bottom: 25px;

}

.homebox.servers ul {
  padding-bottom: 10px;
}

h2 {
  margin: 0 0 5px 0;
}

ul.online {
  margin: 0 10px 0 0;

}

.content-category {
  float: left;
  width: 24px;
  margin-right: 2px;
  margin-top: -1px;
}

a > .content-category {
}

.content-category img {
  margin: 2px 0 0 3px;
}

.more {
  margin: 5px 4px 0 0;
}

/* wysiwyg */
.wsEditor {
  border: 0;
  padding: 3px;
  margin: 2px;
}

.button.selectable {
  cursor: pointer;
}

#ccontent .homebox label {
}

img.none {
  border: 0;
}

.freehtml {
  clear: both;
}

.clearleft {
  clear: left;
}

#notice, .notice, .information {
  padding: 10px;
  border: 1px solid;
}

#minichat {
  ;
  overflow: auto;
  height: 25.2rem;
}

#bigchat {
  ;


  overflow: auto;
}

#minichat li {
  padding: 2px 0 12px 2px;
}

#bigchat li {
  padding: 2px 0 12px 2px;
}

.day-separator {
  margin-top: 10px;
  padding: 5px 15px;
}

.summary {
  padding: 10px 5px;
}

.summary p {
  margin: 0 0 1.5em 0;
}

.category {
  top: 104px;
  right: 12px;
  width: 2px;
  position: absolute;
  z-index: 2;
}

body > .category { /* si no ponemos esto ie no pinta bien el final de la navbar */
  right: 14px;
}

#submenu li.title {
  padding: 3px 6px 2px 6px;

}

textarea {
  border: 1px solid;
  padding: 3px;
}

#ccontent ul.skeletal {


}

#ccontent ul.skeletal li {
  ;
  padding-bottom: 20px;
  padding-left: 5px;
}

#ccontent ul.tutorialscategories {
  margin: 2px 0 5px 0;

}

#ccontent .tutorialscategories li {
  margin-left: 0;
  display: inline;
  margin-right: 10px;
  ;

}

#ccontent td {
  padding: 3px 3px 3px 6px;
}

.system-message {
  padding: 20px;
  border: 1px solid;
  margin-top: 3px;
  margin-bottom: 10px;
}

.system-message .register-now img {
  border: 1px solid;
}

#ccontent .system-message .register-now {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.warning {
  padding: 20px;
  border: 1px solid;
  margin-top: 3px;
  margin-bottom: 10px;
}

#error {
  padding: 10px;
  border: 1px solid;
  margin-top: 3px;
  margin-bottom: 3px;
}

#ccontent img.example {
  border: 1px solid;
}

#ccontent blockquote {
  margin: 0px 20px;
  padding: 5px 10px;
}

#ccontent .message-body blockquote {
  margin-left: 0;
}

.percent-bar {
  width: 100%;
}

.percent-bar,
.percent-bar .bar {
  height: 1.4rem;
}

.pcent-bar {
  height: 0.4rem;
  border: 1px solid;
  margin: 2px;
}

.pcent-bar.compact {
  border: 0;
}

.pcent-bar .bar {
  margin-bottom: 12px;
  height: 0.4rem;
}

.vmember #ccontent .pcent-bar {
  height: 0.7rem;
}

.vmember #ccontent .pcent-bar .bar {
  height: 0.7rem;
}

th.timestamp, td.timestamp {
  width: 120px;
}

th.timestamp-short, td.timestamp-short {
  width: 50px;
  text-align: center;
}

#ccontent a img {
  border: 1px solid;
}

#ccontent img.factionfavicon,
img.factionfavicon,
img.icon16 {
  border: 0;
  width: 16px;
  height: 16px;
}

img.factionfavicon {
  background-image: url(/storage/gs.png);
  background-repeat: no-repeat;
  background-position: 25px 0; /* por defecto que no se vean los iconos de facción nuevos */
}

th.sm-icon, td.sm-icon {
  width: 18px;
}

img.icon, #ccontent a img.icon, #ccontent a img.icon16 {
  border: 0;
}

.sidelist.images li {
  text-align: center;
  margin-bottom: 10px;
}

#webs-aliadas .mcontent {
  padding-bottom: 3px;
}

#webs-aliadas .banner {
  margin-top: 3px;
}

#webs-aliadas .banner img {
  width: 88px;
  height: 31px;
}

.faction-poll li {
  ;
}

img.icon16 {
  width: 16px;
  height: 16px;
  border: 0;
}

/* section specific */
body.cocuenta-cuenta .avatar-level {
  width: 150px;
}

body.cocuenta-cuenta .choose-avatar {
  display: inline;
  margin-right: 5px;
}

body.cocuenta-cuenta .choose-avatar img {
  border: 3px solid #fff;
}

.matchmap-tourney td, #ccontent .matchmap-tourney th {
  text-align: center;
}

.matchmap-tourney td.match {
  height: 50px;
}

input.sm-text {
  width: 50px;
}

#ccontent .right {
  text-align: right;
}

.centered-link {
  padding: 15px;
  text-align: center;
}

.sidething-spaced {
  padding: 10px;
  text-align: center;
}

.match-won, .match-lost, .match-tie {
  text-align: center;
  width: 20px;
}

#ccontent dd {
  padding: 5px 0 20px 15px;
}

#ccontent .competitions-match-maps {
  text-align: center;
}

#ccontent .competitions-match-maps img {
  border: 1px solid #000;
}

#available-smileys {
  width: 98%;
  height: 11rem;
  padding: 3px;
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  display: none;
}

#ccontent a img.slncadt {
  border: 0;
}

#ccontent .comments-mood {
  float: right;
  margin: 5px 15px 0 0;
}

.clanlogo {
  float: right;
  margin: 10px;
}

.moderate-comments-opener {
  cursor: default;
}

#webchat #newline {
  width: 90%;
}

#webchat .panel-title {
  display: none;
  visibility: hidden;
}

#lastcomments a {
  display: block;
}

#ccontent ul.inline {
  display: inline;
}

#ccontent ul.inline li {
  display: inline;
}

#ccontent ul.messages-thread li {
  padding-left: 18px;
}

#ccontent ul.messages-thread table {
  width: auto;
}

#ccontent #cmain > ul.messages-thread table {
  width: 100%;
}

#ccontent ul.messages-thread ul {
  margin-left: 0;
  padding-left: 0
}

#ccontent .news-category-image {
  width: 188px;
  height: 110px;
}

.karmabar_marks {
  position: absolute;
}

.homebox .calendar td.day {
  border-width: 0;
}

.rss {
  padding-left: 14px;
}

.mfcontents-summaries-item {
  margin-bottom: 20px;
  padding: 3px;
}

#mgads-bottom .adslot {
  text-align: center;
  margin: 0 0 10px 0;
}

.potd-pref-selector {
  float: right;
  padding: 0px 4px 0 0;
  text-align: right;
  width: auto;
}

#mggmgeist {
  border: 1px solid #eee;
  padding: 3px;
  position: absolute;
  width: 100px;
  right: 2rem;
  margin-right: 20px;
}

#mggmgeist .wrapper {
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
}

#mggmgeist .header {
  margin-top: -69px;
  margin-left: 7px;
  position: absolute;
  z-index: 3;
}
