<% content_main do %>
  <%mftext('Nueva apuesta') do %>
    <%= form_tag :action => 'create' %>
    <%= render :partial => 'form' %>
    <%= render :partial => '/shared/new_content_tags' %>
    <br />
    <%= submit_tag 'Crear', :class => 'button' %>
  </form>
  <% end -%>
<% end -%>

<% generic_support do %>
<%mftext('Consejos') do %>
<ul class="content-hid">
<li>Solo apuestas de partidas oficiales y verificables</li>
<li>Indica la URL del torneo o partida correspondiente en el campo información adicional</li>
</ul>
<% end -%>
<% end -%>
