.competition-pro {
    width: 17px;
    height: 5px;
}

.competition-vs {
    margin: 0 5px 14px 5px;
    width: 20px;
    height: 13px;
}

.competition-msn {
    vertical-align: middle;
    margin-top: -2px;
    width: 16px;
    height: 16px;
}

.competition-irc {
    vertical-align: middle;
    margin-top: -2px;
    width: 16px;
    height: 16px;
}

.competition-cup {
    width: 16px;
    height: 15px;
}


.competition-progress {
    height: 10px;
    width: 28px;
}
