
#ccontent a .download-now {
    background: url(../../images/icons/download_now.png);
    width: 329px;
    height: 65px;
    border: 0;
}

.download-mirror {
    float: left;
    height: 48px;
    width: 40px;
    background: url(/skins/default/images/icons/download_external.png) 5px 5px no-repeat;
}

#ccontent .download-mirror {
    border: 0;
}

/* downloads  */
#ccontent tr.downloads-folder td.first {
    padding-left: 20px;
}

#ccontent tr.downloads-download td.first {
    padding-left: 20px;
}