.user-sex .male {
    background: url(../../images/icons/male.png);
    width: 16px;
    height: 16px;
}

.user-sex .female {
    background: url(../../images/icons/male.png);
    width: 16px;
    height: 16px;
}
