.user-sex .male {
    width: 16px;
    height: 16px;
}

.user-sex .female {
    width: 16px;
    height: 16px;
}

/* TODO HACK */
body.comiembros.vindex #ccontent td { padding-bottom: 4px; }
