.slog-type0 {
    width: 16px;
    height: 16px;
}

.slog-type1 {
    width: 16px;
    height: 16px;
}

.slog-type2 {
    width: 16px;
    height: 16px;
}

.slog-type3 {
    width: 16px;
    height: 16px;
}

.slog-type4 {
    width: 16px;
    height: 16px;
}

.slog-type5 {
    width: 16px;
    height: 16px;
}

.slog-type6 {
    width: 16px;
    height: 16px;
}

.slog-type7 {
    width: 16px;
    height: 16px;
}

.slog-type8 {
    width: 16px;
    height: 16px;
}
