.alert-type0 {
    width: 16px;
    height: 16px;
}

.alert-type1 {
    width: 16px;
    height: 16px;
}

.alert-type2 {
    width: 16px;
    height: 16px;
}

.alert-type3 {
    width: 16px;
    height: 16px;
}

.alert-type4 {
    width: 16px;
    height: 16px;
}

.alert-type5 {
    width: 16px;
    height: 16px;
}

.alert-type6 {
    width: 16px;
    height: 16px;
}

.alert-type7 {
    width: 16px;
    height: 16px;
}

.alert-type8 {
    width: 16px;
    height: 16px;
}
