.slog-type0 {
    background: url(../../images/icons/slog-type0.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type1 {
    background: url(../../images/icons/slog-type1.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type2 {
    background: url(../../images/icons/slog-type2.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type3 {
    background: url(../../images/icons/slog-type3.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type4 {
    background: url(../../images/icons/slog-type4.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type5 {
    background: url(../../images/icons/slog-type5.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type6 {
    background: url(../../images/icons/slog-type6.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type7 {
    background: url(../../images/icons/slog-type7.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.slog-type8 {
    background: url(../../images/icons/slog-type8.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
