.product-line {
    padding-left: 5px;
    text-align: left;
    padding-left: 25px;
}

.product-img {
    text-align: center;
    margin: 5px 0;
}

.product-img img {
    width: 84px;
    height: 84px;
}

#ccontent .product-img a img {
    border: 0;
}

#ccontent a .shop-buy {
    width: 162px;
    height: 66px;
    border: 0;
}