.product-line {
    padding-left: 5px;
    text-align: left;
    background: url(../../images/icons/cart.png) left center no-repeat;
    padding-left: 25px;
}

.product-img {
    text-align: center;
    margin: 5px 0;
}

.product-img img {
    width: 84px;
    height: 84px;
}

#ccontent .product-img a img {
    border: 0;
}

.product-img.SoldClanAvatar img {
    background: url(../../images/shop_products/SoldClanAvatar.png);
}

.product-img.SoldBeer img {
    background: url(../../images/shop_products/SoldBeer.png);
}

.product-img.SoldChangeNick img {
    background: url(../../images/shop_products/SoldChangeNick.png);
}

.product-img.SoldBroadcastMessage img {
    background: url(../../images/shop_products/SoldBroadcastMessage.png);
}

.product-img.SoldClanAvatar img {
    background: url(../../images/shop_products/SoldClanAvatar.png);
}

.product-img.SoldClanWebsite img {
    background: url(../../images/shop_products/SoldClanWebsite.png);
}

.product-img.SoldUserAvatar img {
    background: url(../../images/shop_products/SoldUserAvatar.png);
}

.product-img.SoldCommentsSig img {
    background: url(../../images/shop_products/SoldCommentsSig.png);
}

.product-img.SoldFaction img {
    background: url(../../images/shop_products/SoldFaction.png);
}

.product-img.SoldOldFaction img {
    background: url(../../images/shop_products/SoldOldFaction.png);
}

.product-img.SoldFactionAvatar img {
    background: url(../../images/shop_products/SoldFactionAvatar.png);
}

.product-img.SoldGmtvChannel img {
    background: url(../../images/shop_products/SoldGmtvChannel.png);
}

.product-img.SoldOutstandingClan img {
    background: url(../../images/shop_products/SoldOutstandingClan.png);
}

.product-img.SoldOutstandingFaction img {
    background: url(../../images/shop_products/SoldOutstandingFaction.png);
}

.product-img.SoldOutstandingUser img {
    background: url(../../images/shop_products/SoldOutstandingUser.png);
}

.product-img.SoldProfileSignatures img {
    background: url(../../images/shop_products/SoldProfileSignatures.png);
}

.product-img.SoldSexNight img {
    background: url(../../images/shop_products/SoldSexNight.png);
}

.product-img.SoldSexNightMale img {
    background: url(../../images/shop_products/SoldSexNightMale.png);
}

.product-img.SoldWheelOfFortune img {
    background: url(../../images/shop_products/SoldWheelOfFortune.png);
}


#ccontent a .shop-buy {
    background: url(../../images/icons/buy.gif);
    width: 162px;
    height: 66px;
    border: 0;
}