/* unclean */
.comments-area .comment {
    clear: left;
    margin-top: 10px;
}

.comments-area .user-info,
.question-best-answer-comment .user-info {
    float: left;
    width: 72px;
    border: 1px solid;
    padding: 0;
}

.comments-area .comment-header {
    border: 1px solid;
    height: 22px;
    line-height: 22px;
    margin-left: 77px;
}

.comments-area .avatar {
    margin-bottom: 6px;
}

.comments-area .comment-info {
    float: right;
    text-align: right;
    margin-right: 3px;
}

.comments-area .text {
    padding: 0px 5px 0px 80px;
}

.comments-area .comment-number {
    float: left;
    width: 50px;
    margin: 0px 0 0 2px;
}

.comments-area .authorship > .comment-number {
    margin: 2px 0 0 2px; /* necesario por el fucking ie */
}

.comments-area .post-comment {
    margin: 35px 0 0 3px;
}

.comments-area .comment-actions {
    margin-top: 14px;
}

.comments-detail {
    position: absolute;
    width: 39px;
    height: 29px;
    margin-top: -13px;
    margin-left: 5px;
}

.comments-container {
    margin-top: 0px;
}

#cmain > .comments-container {
    margin-top: 20px;
}

.comment-rating-state {
    margin-left: 98px;
    padding: 1px 0 2px 5px;
    width: 113px;
}

.moderate-comments-opener-detail {
    border-top: 1px solid;
    margin-top: 15px;
    margin-left: 77px;
}

.moderate-comments {
    border: 1px solid;
    width: 300px;
    margin-top: -3px;
    position: absolute;
    z-index: 3;
}

.report-comments {
	float: right;
	margin-top: 2px;
}

.report-comments.report-comment-with-sig {
	margin-top: 14px;
}

.moderate-comments ul {
    margin: 0;
    padding: 0;
}

.moderate-comments li {
    list-style: none;
}

.moderate-comments .positive {
    float: left;
    width: 50%;
    background: #E8F6EA;
}

.moderate-comments .negative {
    float: left;
    width: 50%;
}

.moderate-comments .neutral {
    clear: left;
}

.moderate-comments a {
    padding-left: 3px;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

#ccontent .moderate-comments a img {
    border: 0;
}

.moderate-comments-opener {
    display: inline;
}