#new-tag-input-text {
    width: 100px;
    margin-left: 3px;
}

.one-of-my-tags-ops {
    position: absolute;
    margin-top: -15px;
}

#my-content-tags-title, #top-content-tags-title {
    position: absolute;
    margin-top: -15px;
    font-weight: bold;
    text-transform: uppercase;
}

#my-content-tags .tag, #top-content-tags .tag {
    float: left;
    margin-right: 10px;
    padding-top: 15px;
    font-family: verdana;
    font-size: 10px;
}

#tag-this-content, #new-tag-input, #my-content-tags, #top-content-tags {
    float: left;
}

#tag-this-content, #new-tag-input {
    padding-top: 15px;
}

#tag-this-content, #new-tag-input {
    margin-right: 5px;
}

#top-content-tags {
    padding-left: 10px;
}

#content-tags {
    clear: left;
}

#tag-this-content {
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}