#mgads-bottom {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: -20px;
    width: 500px;
    padding-top: 8px;
    margin-bottom: -10px;
}

#mgads-bottom .mgads-bottom1 {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 8px 8px 8px 8px;
}
