#mgheader {
    position: absolute;
    top: 0;
    margin-left: -10px;
    padding-left: 0;
    height: 67px;
    margin-bottom: 0;
    border-bottom: 1px solid #eaeaea;
    width: 1000px;
    background: url(/skins/default/images/header_bg.png) right 25px no-repeat;
}