#mglogo img {
    margin: 10px 0 0 6px;
    border: 0;
    background: url(/skins/default/images/header.png) 0 0;
    width: 194px;
    height: 54px;
}

#mglogo.hover img {
    background-position: 0 -54px;
}