/* ...
*= require reset
*= require_self
*= require_tree ./components
*= require_tree ./layout
*= require_tree ./atmosphere
*/

.dev-box-label {
  font-size: 10px;
  font-weight: bold;
  color: #ccc;
  margin: 2px;
  text-transform: uppercase;
}

.pagelevel {
}

