.publish16 {
    width: 16px;
    height: 16px;
    background: url(../../images/icons/publish16.gif);
}

.deny16 {
    width: 16px;
    height: 16px;
    background: url(../../images/icons/deny16.gif);
}

.content-locked {
    padding-left: 20px;
    line-height: 19px;
}

.lock { background-position: 0px -528px; }

.content-publish {
    width: 162px;
    height: 66px;
    background: url(../../images/icons/publish.gif);
}

.content-deny {
    width: 162px;
    height: 66px;
    background: url(../../images/icons/deny.gif);
}

.change-publishing-state {
    background: url(../../images/icons/change_publishing_state.gif);
    width: 16px;
    height: 16px;
}