.competition-pro {
    background: url(../../images/icons/pro.gif);
}

.competition-vs {
    background: url(../../images/icons/vs.gif);
}

.competition-msn {
    background: url(../../images/icons/msn.gif);
}

.competition-irc {
    background: url(../../images/icons/msn.gif);
}

.cup0 {
    background-position: 0px -513px;
}
.cup1 {
    background-position: -16px -513px;
}

.cup2 {
    background-position: -32px -513px;
}

.competition-progress {
    background: url(../../images/icons/competition-progress.gif) 0 0px no-repeat;
}
