.iset {
    background-image: url(../../images/iconset.png?1);
    width: 56px;
    height: 56px;
}

/* .mfcontent .iset { position: absolute; margin-top: -8px; margin-left: 5px; z-index: 10; } */
.mfcontent .mtitle .iset {  
margin-top: -16px;
margin-left: 5px; 
float: left; 
z-index: 10; }



.isetnews { background-position: -0 0; }
.isetevent { background-position: -56px 0; }
.isetdownload { background-position: -112px 0; }
.isetinterview { background-position: -168px 0; }
.isetnews { background-position: -224px 0; }
.isetcolumn { background-position: -280px 0; }
.isetmusica { background-position: -336px 0; }
.isetcine { background-position: -392px 0; }

.isettutorial { background-position: 0 -56px; }
.isetcity { background-position: -56px -56px; }
.isetstats { background-position: -112px -56px; }
.isetblogentry { background-position: -168px -56px; }
.isetdemo { background-position: -224px -56px; }
.isetpoll { background-position: -280px -56px; }
.isetestudiante { background-position: -336px -56px; }
.isetdeportes { background-position: -392px -56px; }

.isetuser { background-position: -56px -112px; }
.isetfunthing { background-position: -168px -112px; }
.isetquestion { background-position: -224px -112px; }
.isetbet { background-position: -280px -112px; }
.isetanime { background-position: -336px -112px; }
.isetdesarrollo { background-position: -392px -112px; }

.isettopic { background-position: -0px -168px; }
.isetmessage { background-position: -56px -168px; }
.isetprofile { background-position: -112px -168px; }
.isetcoverage { background-position: -168px -168px; }
.isetbank { background-position: -224px -168px; }
.isetbazar { background-position: -280px -168px; }
.isethw { background-position: -336px -168px; }
.isetreview { background-position: -392px -168px; }

.isetfaction { background-position: -0px -224px; }
.isetclan { background-position: -56px -224px; }
.isetrss { background-position: -112px -224px; }
.isetconfiguration { background-position: -168px -224px; }
.isetavatar { background-position: -224px -224px; }
.isetcompetition { background-position: -280px -224px; }
.isetinformatica { background-position: -336px -224px; }