.sprite1 { 
background-image: url(../../images/s.png);
background-repeat: no-repeat; 
}

.ico16 { width: 16px; height: 16px; vertical-align: middle; }

.comments-count a, .comments-count span {
    background: url(../../images/icons/comments_16x16.gif) center left no-repeat;
}

.pageviews-count {
    background: url(../../images/icons/pageviews.gif) center left no-repeat;
}

.downloads-count {
    background: url(../../images/icons/downloads_count.gif) center left no-repeat;
}

.members-count {
    background: url(../../images/icons/comp-users.gif) center left no-repeat;
}

#ccontent .clans-count {
    background: url(../../images/icons/clan-soft.gif) center left no-repeat;
}

.gmd10 {
    background: url(../../images/icons/gmd10.png);
}

.gmd11 {
    background: url(../../images/icons/gmd11.png);
}

.gmd12 {
    background: url(../../images/icons/gmd12.png);
}

img.pageviews-count {
    background: url(../../images/icons/pageviews.gif);
}

img.comments-count {
    background: url(../../images/icons/comments_16x16.gif);
}

img.downloads-count {
    background: url(../../images/icons/downloads_count.gif);
}

/**
 * Slog
 */
.alert-type0 {
	margin-right: 2px;
    background-position: 0px -464px;
}

.alert-type1 {
	margin-right: 2px;
    background-position: -16px -464px;
}

.alert-type2 {
	margin-right: 2px;
    background-position: -32px -464px;
}

.alert-type3 {
	margin-right: 2px;
    background-position: -48px -464px;
}

.alert-type4 {
	margin-right: 2px;
    background-position: -64px -464px;
}

.alert-type5 {
	margin-right: 2px;
    background-position: -80px -464px;
}

.alert-type6 {
	margin-right: 2px;
    background-position: -96px -464px;
}

.alert-type7 {
	margin-right: 2px;
    background-position: -112px -464px;
}

.alert-type8 {
	margin-right: 2px;
    background-position: -128px -464px;
}

.user-sex .male {
    background: url(../../images/icons/male.png);
}

.user-sex .female {
    background: url(../../images/icons/male.png);
}

.unknown-map {
    background: url(../../images/misc/mapa_no_especificado.jpg);
}

img.cash-out {
    background: url(../../images/icons/cash_out.gif);
}

img.cash-in {
    background: url(../../images/icons/cash_in.gif);
}

.go-to-topic {
    background: url(../../images/icons/go.gif);
}

.modbar {
    background: url(../../images/icons/modbar.gif) left top no-repeat;
}

.modbar img {
    background: url(../../images/icons/modbar.gif) no-repeat;
}

.flhdr {
    background: url(../../images/icons/flhdr.gif) center center no-repeat;
}

#ccontent ul.messages-thread li {
    background: url(../../images/icons/message.gif) left 5px no-repeat;
}

#ccontent .messages .preview span.replied {
    background: url(../../images/icons/replied.gif) left center no-repeat;
}


.gotop a { background: url(../../images/icons/top.png) right 0 no-repeat; padding-right: 18px;}


.system-tag-icon {
    background-position: 0px -192px;
}

.user-tag-icon {
    background-position: -16px -192px;
}

.user-tag-icon-add {
    background-position: -32px -192px;
}

.user-tag-icon-del {
    background-position: -48px -192px;
}