.product-img.SoldClanAvatar img {
    background: url(../../images/shop_products/SoldClanAvatar.png);
}

.product-img.SoldChangeNick img {
    background: url(../../images/shop_products/SoldChangeNick.png);
}

.product-img.SoldClanAvatar img {
    background: url(../../images/shop_products/SoldClanAvatar.png);
}

.product-img.SoldUserAvatar img {
    background: url(../../images/shop_products/SoldUserAvatar.png);
}

.product-img.SoldCommentsSig img {
    background: url(../../images/shop_products/SoldCommentsSig.png);
}

.product-img.SoldFaction img {
    background: url(../../images/shop_products/SoldFaction.png);
}

.product-img.SoldOldFaction img {
    background: url(../../images/shop_products/SoldOldFaction.png);
}

.product-img.SoldFactionAvatar img {
    background: url(../../images/shop_products/SoldFactionAvatar.png);
}

.product-img.SoldGmtvChannel img {
    background: url(../../images/shop_products/SoldGmtvChannel.png);
}

.product-img.SoldOutstandingClan img {
    background: url(../../images/shop_products/SoldOutstandingClan.png);
}

.product-img.SoldOutstandingFaction img {
    background: url(../../images/shop_products/SoldOutstandingFaction.png);
}

.product-img.SoldOutstandingUser img {
    background: url(../../images/shop_products/SoldOutstandingUser.png);
}

.product-img.SoldProfileSignatures img {
    background: url(../../images/shop_products/SoldProfileSignatures.png);
}

.product-img.SoldRadar img {
    background: url(../../images/shop_products/SoldRadar.png);
}
