img.member-state {
    background-position: 0px -438px;
    width: 16px;
    height: 16px;
}

img.member-state.active {
    background-position: 0px -438px;
}

img.member-state.shadow {
    background-position: -16px -438px;
}

img.member-state.zombie {
    background-position: -32px -438px;
}

img.member-state.unconfirmed {
    background-position: -48px -438px;
}

img.member-state.banned {
    background-position: -64px -438px;
}

img.member-state.deactivated {
    background-position: -80px -438px;
}

img.member-state.deleted {
    background-position: -80px -438px;
}