#homecontents {
  float: left;
  width: 32%;
}

#homecommunity {
  float: left;
  width: 33%;
  margin: 0 8px;
}

#homegamer {
  float: left;
  width: 31%;
}

#homecontents .subheader,
#homecommunity .subheader,
#homegamer .subheader,
#homebazar .subheader {
  margin-bottom: 3px;
}

#homegamer .calendar a {
  display: block;
  width: 100%;
}

.homebox .subheader div {
  width: 200px;
}

.lyarena .homebox .subheader div {
  width: 200px;
}

#home-sex, #home-sex div {
  display: block;
  visibility: visible;
}

#home-sex #home-sex-title {
  display: none;
  visibility: hidden;
}

#homecontents .container li > a,
#homecommunity .container li > a,
#homegamer .container li > a,
#homebazar .container li > a {
  width: auto;
}

.homebox .screenshot {
  margin: 5px 0;
}

.homebox .screenshot img {
  border: 1px solid;
}

.homebox ul {
  ;
}

.homebox .content-hid2 li {
  clear: left;
  ;
}

.homebox .factions td.percent {
  width: 50%;
}

.homebox.poll .option,
.faction-poll .option,
#small-poll .option {
  margin-left: 5px;
}

.homebox.poll .percent,
.faction-poll .percent,
#small-poll .percent {
  width: 98%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.homebox.articles li {
  margin-bottom: 10px;
}

.homebox.articles img {
  border: 1px solid;
  margin-bottom: 5px;
  margin-right: 5px;
}

.daily-joy-babe, .daily-joy-dude, .daily-joy-void, .daily-joy-babe2, .daily-joy-dude2, .daily-joy-void2 {
  display: inline;
  width: auto;
  cursor: pointer;
}

.daily-joy-babe img {
  width: 16px;
  height: 16px;
}

.daily-joy-dude img {
  width: 16px;
  height: 16px;
}

.daily-joy-void img {
  width: 16px;
  height: 16px;
}

#ccontent a.daily-joy-babe2 img {
  width: 16px;
  height: 16px;
  border: 0;
}

#ccontent a.daily-joy-dude2 img {
  width: 16px;
  height: 16px;
  border: 0;
}

#ccontent a.daily-joy-void2 img {
  width: 16px;
  height: 16px;
  border: 0;
}

#home-factions td {
  padding-bottom: 10px;
}

.homebox table.calendar,
.homebox table.calendar td,
#ccontent .homebox table.calendar th {
  text-align: center;
}

.homebox .calendar .day.today {
  font-weight: bold;
}

.homebox table.calendar .dayName th {
  text-align: center;
}

.homebox table tr.monthName td {
  text-align: left;
}

.homebox table.factions th {
  font-weight: bold;
}

.homebox .content-hid a,
.homebox .content-hid2 a,
.messages .new a {
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.homebox .content-hid a:visited, .homebox .content-hid2 a:visited {
  font-weight: normal;
}

#homecontents .subheader, #homecommunity .subheader, #homegamer .subheader {
  text-transform: uppercase;
  font-weight: normal;
}

#homecontents .container a, #homecommunity .container a, #homegamer .container a {
  text-decoration: none;
}

#homecontents .container { border: 0; margin-right: 10px; }
#homecommunity .container { border: 0; margin: 0 10px; }
#homegamer .container { border: 0; margin-left: 10px; }

#hhome-events .mtitle { display: none; visibility: hidden; }
