#my-forums-cont ul.widget {
    margin: 0;
    padding: 0;
    min-height: 100px;
    height: 100px;
}

#my-forums-cont div > ul.widget {
    height: auto;
}

#my-forums-cont li.widget {
    list-style: none;
}

#my-forums-cont .mftext {
    background: #fff;
}

#my-forums-cont .mtitle {
    cursor: move;
}

#my-forums-cont ul.highlighted {
    background: #e1deff;
}

#foros-right-nav ul { margin: 0; padding: 0; }
#foros-right-nav ul ul { margin: 0 0 0 20px; padding: 0; }
