<% mftext('Editar categoría') do %>

<%= form_tag ({:action => 'categorias_update', :id => @category}, :multipart => true )%>
  <%= render :partial => 'categorias_edit' %>
  <%= submit_tag 'Guardar' %>
</form>

<%= link_to 'Volver', "/cuenta/faccion/categorias/#{params[:type_name]}" %>
<% end -%>