<% content_main do %>
  <% mftext('Modificar link') do %>

<form method="post" action="/cuenta/faccion/links/update/<%=params[:id]%>" enctype="multipart/form-data">
  <%= render :partial => 'factions_link' %>
  <%= submit_tag 'Guardar', :class => 'button' %>
</form>

<br />
<br />
<a href="/cuenta/faccion/links">Volver</a>
<% end -%>
<% end -%>