<div id="home-esenciales" class="subheader f_deca first"><div><span>Esenciales</span></div></div>
<ul class="content-hid2">
<% shown_downloads = []
Content.published.in_term(category.root).find(
    :all,
    :conditions => "essential is true",
    :order => 'created_on DESC',
    :limit => 12).each do |d|
    shown_downloads << d.id
%>
  <li class="content<%=d.id%> content new <%=oddclass%>"><%=link_to "#{content_category(d.main_category)}#{d.title}", gmurl(d)%></li>
  <% end -%>
<script type="text/javascript">contents = contents.concat(<%=shown_downloads.join(',')%>);</script>
</ul>
