<% content_support do %>
	<a href="/admin/ads/new">Nuevo</a>
<% end -%>

<% content_main do %>
<%mftext('Ads') do %>
<table>
  <tr>
     <th colspan="3">Ad</th>
  </tr>
<% Ad.find(:all, :order => 'id DESC').each do |ad| %>
<tr class="<%=oddclass%>">
	<td><a href="/admin/ads/edit/<%=ad.id%>"><%=ad.name%></a></td>
	<td><%=fc_thumbnail(ad.file, 'k', '153x60') if ad.file%></td>
	<td><%=ad.advertiser.name if ad.advertiser_id%></td>
  </tr>
<% end -%>
</table>
<% end -%>
<% end -%>