<%content_main do %>
<%mftext('Nuevo ad') do %>
<%= form_tag({:action => 'create' }, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Crear', :class => 'button' %>
</form>
<% end -%>
<% end -%>