<div style="text-align: right;"><a href="/site/te_buscamos"><img class="icon" src="/images/te_necesitamos.jpg" /></a></div> 
<p class="centered">Esta facción busca a su boss. ¿Eres tú?</p>
<div class="more black"><a title="Más información sobre el puesto" href="/site/te_buscamos">Más información</a></div>
<br />
        