<div class="facebox-title">Cerrar contenido</div>

<div class="facebox-content">
<div id="aaa"></div>
<form method="post" action="/admin/contenidos/close/<%=params[:id]%>">
<input type="text" class="w100pc text virgin" id="report-content-reason" name="reason" value="Razón..." /><br />
<br />
<div class="action-buttons">
<a href="#" onclick="closeFacebox();">Cancelar</a> &nbsp; &nbsp; &nbsp; <input type="submit" value="Cerrar contenido" />
</div>
</form>
<script type="text/javascript">
  $j('#report-content-reason').val("Razón..").one('click', function(){
    $j(this).val("").removeClass('virgin');
  });
</script>
</div>