<%content_main do %>
<%mftext('Contactar con Gamersmafia') do %>
Para avisar sobre bugs o sugerir mejoras ve directamente a <strong><a
href="https://github.com/slnc/gamersmafia/issues">gamersmafia@Github</a></strong> (<a
href="http://gamersmafia.com/tutoriales/show/1490">leer instrucciones</a>).
<br />
<br />
<form method="post" id="contact" action="/site/do_contactar">
	<table>
		<tr>
			<td class="w100">Asunto</td>
			<td><select name="subject">
				<option value="">(Elige una opción)</option>
				<option value="seo">SEO</option>
				<option value="problemas_cuenta">Problema con mi cuenta</option>
				<option value="publicidad">Publicidad</option>
				<option value="otros">Otros</option>
				</select></td>
		</tr>
		<% if !user_is_authed then %>
		<tr>
			<td>Tu email</td>
			<td><input type="text" class="text" name="email" style="width: 100px;"/></td>
		</tr>
		<% end -%>
		<tr style="vertical-align: top;">
			<td>Mensaje</td>
			<td><textarea class="text" name="message" style="width: 490px; height: 200px;"></textarea></td>
		</tr>
	</table>
	<script type="text/javascript">
	$('form#contact').append($('<input type="hidden" />').attr('name', 'fsckspmr').attr('value', '<%=controller.class.do_contactar_key%>'));
	</script>
	<input type="submit" class="button" value="Enviar" />
</form>
<% end -%>
<% end -%>
