<h1>Ejemplos de GUIDs</h1>
<table>
  <tr class="<%=oddclass%>">
    <td>DMW</td>
    <td>7654321</td>
  </tr>
  <tr class="<%=oddclass%>">
    <td>Punkbuster</td>
    <td>9e107d9d372bb6826bd81d3542a419d6</td>
  </tr>
  <tr class="<%=oddclass%>">
    <td>SteamID</td>
    <td>STEAM_0:1:12345678</td>
  </tr>
  <tr class="<%=oddclass%>">
    <td>UT2004</td>
    <td>A45FD903-DF256B43-FDEA234C-7851B230</td>
  </tr>
</table>
