<% generic_support do %>
    <%mftext('El callejón') do %>
    <p>El callejón muestra las ofertas de trabajo abiertas en Gamersmafia.</p>
    <% end -%>
<% end -%>

<% content_main do %>
    <%mftext('Trabajos') do %>
    <table>
        <tr>
            <td style="width: 200px;"><strong><a href="/site/mrachmed_clasifica_comentarios">Enseña a MrAchmed</a></strong></td>
            <td class="infoinline">Enséñale a MrAchmed qué comentarios van contra el código de conducta y qué comentarios no van contra el código de conducta.</td>
            <td>0.25 GMF por comentario clasificado</td>
        </tr>
    </table>
    <% end -%>
<% end -%>
