<% generic_support(:show_ads => false) do %>
<%mftext('Ya se han unido') do %>
<div class="centered">
<strong>4Quakers</strong><br />
<img src="/images/fusiones/4quakers.jpg" /><br />
<br />

<strong>BattlefieldSpain</strong><br />
<img src="/images/fusiones/battlefieldspain.jpg" /><br />
<br />

<strong>Dowforever.com</strong><br />
<img src="/images/fusiones/dowforever.jpg" /><br />
<br />

<strong>NWNSpain</strong><br />
<img src="/images/fusiones/nwnspain.jpg" /><br />
<br />
</div>
<% end -%>

<%mftext('¿Interesado?') do %>
Envíanos un email indicando la dirección web de tu comunidad actual a:<br />
<div style="margin-top: 10px;" class="centered"><strong><a href="mailto:fusiones@gamersmafia.com">fusiones@gamersmafia.com</a></strong></div>
<% end -%>
<% end -%>

<% content_main do %>
<%mftext('¿A quién está dirigido?') do %>
El programa de fusiones está pensado para aquellos webmasters que estén dirigiendo una comunidad y deseen integrarse con Gamersmafia. 
<% end -%>

<%mftext('¿Por qué fusionarse con Gamersmafia?') do %>
<ul>
	<li style="margin-bottom: 10px;"><strong>Mantenemos usuarios y contenidos</strong>: tanto los usuarios como los contenidos, descargas, imágenes y comentarios que tengas en tu web actual son migrados a Gamersmafia y no se pierde nada.</li>
	<li style="margin-bottom: 10px;"><strong>Principios y valores</strong>: nuestros <a href="/site">valores</a> son un reflejo y una garantía del rumbo que llevará tu comunidad. Queremos lo mismo que tú, unir a los gamers.</li>
	<li style="margin-bottom: 10px;"><strong>Tecnología punta</strong>: tenemos uno de los motores web más avanzados y actualizados de nuestro sector por lo que podemos ofrecer a tu comunidad servicios que serían muy costosos de ofrecer de otra manera.</li>	
	<li style="margin-bottom: 10px;"><strong>Concéntrate en lo importante</strong>: nos ocupamos de todo el tema técnico de forma que puedas concentrarte en la comunidad y no en la infraestructura.</li>
	<li style="margin-bottom: 10px;"><strong>Continuidad</strong>: muchos webmasters inician una comunidad cuando su interés por un juego o plataforma es alto pero por azares de la vida puede que más tarde ya no sea posible. Integrándote con Gamersmafia te aseguras que aunque más adelante no puedas seguir encargándote de la web la comunidad que tanto trabajo te ha costado crear no desaparecerá.</li>
	<li style="margin-bottom: 10px;"><strong>Sigues teniendo voz y voto</strong>: si te fusionas con nosotros pasarás a formar parte del HQ, nuestro equipo interno de toma de decisiones.</li>
</ul>
<% end -%>

<%mftext('Detalles técnicos') do %>
<div class="subheader"><div>Tiempo</div></div>
Dependiendo de la base de datos usada el tiempo necesario para integrarla en gamersmafia puede variar desde 2 o 3 días a una semana. 
<% end -%>

<div class="subheader"><div>Cuentas de usuario</div></div>
<p>Si el mismo usuario ya está registrado en gamersmafia los contenidos de la web fusionada se asociarán correctamente al usuario existente en gamersmafia.</p> 
<p>Si un nick ya está registrado en Gamersmafia el nick del usuario de la web fusionada será reemplazado por uno nuevo previo aviso a dicho usuario.</p>

<div class="subheader"><div>Karma / Fe</div></div>
Todos los contenidos y comentarios fusionados generarán el karma y los gamersmafios tal y como si hubieran sido creados desde Gamersmafia. 


<div class="subheader"><div>Fotos, datos de perfiles</div></div>
Las fotos de usuario se pueden migrar sin problemas. Los datos de perfiles dependiendo de cómo estén organizados se podrán migrar en mayor o menor medida. 


<div class="subheader"><div>Bosses, underbosses</div></div>
Si tu comunidad trata sobre un juego que ya cubramos en Gamersmafia y dicho juego ya tenga un boss o underboss no podrás ser boss/underboss de dicho juego aunque sí que pasarás a formar parte del HQ. 

<div style="margin-top: 30px;" class="centered"><strong>¿Interesado?</strong><br />
<br />
Para más detalles y preguntas puedes enviarnos un email indicando la dirección web de tu comunidad actual a: <strong><a href="mailto:fusiones@gamersmafia.com">fusiones@gamersmafia.com</a></strong>. 
</div>
<% end -%>