<script src="http://www.google.com/moderator/static/moderator-embed-api.js"
type="text/javascript"></script>

<ul>
<li><a href="/site/ideas/?<%= u'topic=15/e=1a65f3&t=1a65f3.41'%>">Nuevas posiciones para el staff</a></li>
</ul>

<% if @topic then %>
<div id="moderator-embed-target"></div>

<script type="text/javascript">
var mod = new MODERATOR("http://www.google.com/moderator/#<%=@topic%>");
mod.hl = "es";
mod.width = 1000;
mod.height = 700;
mod.embed("moderator-embed-target");
</script>
<% end %>
