<style type="text/css">
	.logos td, #ccontent .logos th { text-align: center;}
</style>

<%content_2colx do %>
<h2 class="f_hecto"><strong>Original</strong></h2>
<%mftext('Versión horizontal') do %>
<div class="centered"><img src="/images/logo/gm_logo_hwm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>1160x361</td>
		<td>291x99</td>
		<td>180x58</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hwl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hwm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hws.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>

<%mftext('Versión vertical') do %>
<div class="centered"><img src="/images/logo/gm_logo_vwm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>888x551</td>
		<td>263x142</td>
		<td>115x63</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vwl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vwm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vws.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>

<%mftext('Sólo el gángster') do %>
<div class="centered"><img src="/images/logo/gm_logo_swm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>485x516</td>
		<td>133x141</td>
		<td>63x64</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_swl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_swm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_sws.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>
<% end%>

<%content_2colx do %>
<h2 class="f_hecto"><strong>Invertido</strong></h2>
<%mftext('Versión horizontal') do %>
<div class="centered"><img src="/images/logo/gm_logo_hbm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>1160x361</td>
		<td>291x99</td>
		<td>180x58</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hbl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hbm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_hbs.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>

<%mftext('Versión vertical') do %>
<div class="centered"><img src="/images/logo/gm_logo_vbm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>888x551</td>
		<td>263x142</td>
		<td>115x63</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vbl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vbm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_vbs.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>

<%mftext('Sólo el gángster') do %>
<div class="centered"><img src="/images/logo/gm_logo_sbm.png" /></div>
<table class="logos">
	<tr>
		<th style="width: 25%;">Tamaño L</th>
		<th style="width: 25%;">Tamaño M</th>
		<th style="width: 25%;">Tamaño S</th>
		<th style="width: 25%;">Vectorizado</th>
	</tr>
	<tr>
		<td>485x516</td>
		<td>133x141</td>
		<td>63x64</td>
		<td>&#8734;</td>
	</tr>
	<tr>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_sbl.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_sbm.png">PNG</a></td>
		<td style="font-weight: bold;"><a href="/images/logo/gm_logo_sbs.png">PNG</a></td>
		<td style="widtd: 25%;"></td>
	</tr>
</table>
<% end%>
<% end%>