<% content_main do %>
<% mftext do %>
<img src="/images/i_gm.png" style="float: right; "/>
<div class="infoinline">Política de privacidad efectiva desde el 18 de junio de 2008.</div>
<h1>Política de Privacidad</h1>
<h2>Información recogida</h2>
<p>Cuando visitas Gamersmafia nos proporcionas dos tipos de información: información personal que conscientemente decides proveernos e información recogida por nosotros a medida que interactucas con nuestro sitio web.</p>

<p>Cuando te registras en Gamersmafia nos proporcionas cierta información personal como tu nombre, edad, ciudad de residencia y email.</p>

<p>Cuando entras en Gamersmafia recopilamos tu tipo de navegador y tu dirección IP. Esta información se recopila para todos los visitantes de Gamersmafia. Adicionalmente guardamos cierta información en tu navegador usando "cookies". Una cookie es una pieza de datos almacenada en tu ordenador enlazada con información acerca del usuario. Usamos cookies para identificar sesión para confirmar que un usuario ha iniciado sesión. Estas cookies desaparecen automáticamente una vez que el usuario cierra el navegador. Por defecto, si no se finaliza la sesión almacenamos una cookie con un código que permite iniciar sesión automáticamente la próxima vez que accedas a Gamersmafia. Esta cookie desaparece automáticamente al cerrar sesión y no contiene ni el login ni la contraseña de un usuario.</p>

<p>Cuando usas Gamersmafia puedes configurar tu perfil, establecer relaciones con otros usuarios, enviar mensajes y realizar otra serie de acciones. Recogemos esta información para poder ofrecer dichos servicios y la almacenamos durante un tiempo razonable.</p> 

<p>Cuando envias contenidos tanto públicos como privados al sitio web lo haces bajo tu propia responsabilidad. Aunque tenemos multitud de medidas para bloquear y proteger datos nunca son perfectas o impenetrables. No controlamos las acciones de otros usuarios con quienes puedes decidir compartir dicha información. Por tanto no nos aseguramos de que los contenidos privados que envíes no sean vistos por personas no autorizadas. No somos responsables de ningún subterfugio o elusión de las medidas de seguridad o de privacidad contenidas en este sitio web. Entiendes y aceptas que, incluso después de ser eliminados, copias de contenidos de usuario pueden permanecer visibles en páginas cacheadas o archivadas o si otros usuarios han copiado o almacenado tus contenidos.</p>

<p>Gamersmafia no intercambia ningún tipo de información con ninguna empresa. La información sobre gustos, historial de navegación y otra información privada se usa exclusivamente de forma anónima por sistemas automatizados propiedad de Gamersmafia para poder ofrecer servicios personalizados a los usuarios o bien para detectar ataques a nuestro sitio web u otras actividades maliciosas.</p>

<p>Ninguna dirección de email recogida por Gamersmafia se vende o intercambia con otras empresas.</p>
<br />
<h2>Enlaces</h2>
<p>Gamersmafia puede contener enlaces a otras webs. Evidentemente no somos responsables de la política de privacidad de otros sitios web. Esta política de privacidad únicamente se aplica a Gamersmafia.</p>
<br />
<p>Para cualquier duda relacionada con la política de privacidad de Gamersmafia tenemos un <a href="http://<%=App.domain%>/site/contactar">formulario de contacto</a> a través del cual poder contactar con nosotros.</p> 
<% end -%>
<% end -%>
