<div class="facebox-title">Reportar usuario</div>

<div class="facebox-content">
<div id="aaa"></div>
<%=form_remote_tag({:update => 'aaa', :url => "/admin/usuarios/report/#{params[:id]}", :evalScripts => true})%>
<input type="text" class="w100pc text virgin" id="report-user-reason" name="reason" value="Razón..." /><br />
<br />
<input type="submit" value="Reportar" />
<input type="button" value="Cancelar" onclick="closeFacebox();" />
</form>
<script type="text/javascript">
  $j('#report-user-reason').val("Razón..").one('click', function(){
    $j(this).val("").removeClass('virgin');
  });
</script>
</div>