<div class="facebox-title">Reportar contenido</div>

<div class="facebox-content">
<div id="aaa"></div>
<%=form_tag("/admin/contenidos/report/#{params[:id]}", :remote => true)%>
<input type="text" class="w100pc text virgin" id="report-content-reason" name="reason" value="Razón..." /><br />
<br />
<div class="action-buttons">
<a href="#" onclick="closeFacebox();">Cancelar</a> &nbsp; &nbsp; &nbsp; <input type="submit" value="Reportar" />
</div>
</form>
<script type="text/javascript">
  $j('#report-content-reason').val("Razón..").one('click', function(){
    $j(this).val("").removeClass('virgin');
  });
</script>
</div>
