<div class="header f_hecto">Reportar comentario</div>

<div class="facebox-content">
<div id="aaa"></div>
<%=form_tag("/comments/report/#{params[:id]}", :remote => true, :id => "report-comment-form")%>
Razón:
<select id="report-comment-form-moderation-reason" name="moderation_reason">
  <option></option>
  <% Comment::MODERATION_REASONS.each do |reason, idx| %>
  <option value="<%=idx%>"><%=reason%></option>
  <% end -%>
</select>
<br />
<div class="action-buttons">
  <a href="#" onclick="closeFacebox();">Cancelar</a> &nbsp; &nbsp; &nbsp;
  <input type="submit" value="Reportar" class="button" />
</div>
</form>
<script type="text/javascript">
  $("#report-comment-form").submit(function () {
      if ($("#report-comment-form-moderation-reason").val() == "") {
        alert("Debes especificar una razón para reportar este comentario.");
        return false;
      }
      return true;
    });
</script>
</div>
