<style type="text/css">
.responsabilidades ul {
margin: 0;
padding: 0;
list-style: none;
}

.responsabilidades li {
margin-bottom: 12px;
}
</style>
<p>Gamersmafia no podría funcionar sin el esfuerzo de muchísima gente. A continuación aparecen listadas las responsabilidades de cada persona del staff.</p>

<div class="responsabilidades">
<div class="grid-5">
	<%mftext('Facciones', :has_submodules => true) do %>
		<%mftext('Boss') do %>
		<ul>
			<li>Promocionar la facción</li>
			<li>Gestionar bans de la facción</li>
			<li>Crear y supervisar el staff de la facción (underboss, editores y moderadores)</li>
			<li>(Juegos FPS) Gestionar modos de juego, versiones y mapas</li>
			<li>Mantener actualizada la información de la facción (servidores populares, enlaces a tutoriales y ayuda sobre cómo empezar)</li>
			<li>Crear/eliminar foros</li>
		</ul>
		<% end -%>
		
		<%mftext('Underboss') do %>
		<ul>
			<li>Las mismas que el boss</li>
		</ul>
		<% end -%>
		
		<%mftext('Editor') do %>
		<ul>
			<li>Revisar los contenidos reportados (en la "rueda")</li>
			<li>Revisar que los contenidos publicados pasan un mínimo de calidad (ortografía y gramática, longitud mínima, etc).</li>
			<li>Asegurarse de que se publican nuevos contenidos (y buscarlos o elaborarlos si es necesario)</li>
			<li>Elegir una respuesta para las preguntas que lleven abiertas más de 7 días (aparecen a la derecha en la página de cola de moderación)</li>
			<li>Descargas: asegurarse de que tenemos las descargas más importantes</li>
			<li>Revisar los avisos del sistema (el icono de "rueda")</li>
			<li>Gestionar categorías</li>
		</ul>
		<% end -%>
		
		<%mftext('Moderador') do %>
		<ul>
			<li>Supervisar comentarios y tópics reportados (en la "rueda")</li>
			<li>Moderar foros de la facción</li>
			<li>Promover y animar los foros de la facción</li>
		</ul>
		<% end -%>
	<% end -%>
</div>

<div class="grid-5">
	<%mftext('Bazar', :has_submodules => true) do %>
		<%mftext('Alcalde') do %>
		<ul>
			<li>Asegurarse de que los distritos tengan dones y estén activos</li>
			<li>Supervisar a los dones y manos derecha</li>
		</ul>
		<% end -%>
		
		<%mftext('Don') do %>
		<ul>
			<li>Promocionar el distrito</li>
			<li>Crear y supervisar el staff del distrito (mano derecha y sicarios)</li>
			<li>Crear/eliminar foros</li>
		</ul>
		<% end -%>
		
		<%mftext('Mano Derecha') do %>
		<ul>
			<li>Las mismas que el don</li>
		</ul>
		<% end -%>
		
		<%mftext('Sicario') do %>
		<ul>
			<li>Revisar los contenidos reportados (en la "rueda")</li>
			<li>Revisar que los contenidos publicados pasan un mínimo de calidad (ortografía y gramática, longitud mínima, etc).</li>
			<li>Asegurarse de que se publican nuevos contenidos (y buscarlos o elaborarlos él si no es así)</li>
			<li>Elegir una respuesta para las preguntas que lleven abiertas más de 7 días (aparecen a la derecha en la página de cola de moderación)</li>
			<li>Descargas: asegurarse de que tenemos las descargas más importantes</li>
			<li>Revisar los avisos del sistema (el icono de "rueda")</li>
			<li>Gestionar categorías</li>
			<li>Supervisar comentarios y tópics reportados (en la "rueda")</li>
			<li>Moderar foros de la facción</li>
			<li>Promover y animar los foros de la facción</li>
		</ul>
		<% end -%>
	<% end -%>
</div>

<div class="grid-5 glast">
	<%mftext('Gamersmafia', :has_submodules => true) do %>
		<%mftext('Webmaster') do %>
		<ul>
			<li>Jugar con las <a href="http://bazar.gamersmafia.com/imagenes/1559">babes</a></li>
			<li>Cuando haya fallos en la web echarle la culpa a <a href="/miembros/MrCheater">MrCheater</a></li>
			<li>Darle de comer al servidor para que siga mutando</li>
			<li>Ser el motor inmóvil</li>
		</ul>
		<% end -%>
		
		<%mftext('Capo') do %>
		<ul>
			<li>Gestionar bans (globales y por ip), antifloods, cuentas fake</li>
			<li>Atender los avisos de violaciones del código de conducta</li>
			<li>Revisar avatares, clanes, blogs y nuevas facciones</li>
			<li>Supervisar a los bosses de facciones</li>
			<li>Moderar comentarios y tópics de foros de Gamersmafia</li>
		</ul>
		<% end -%>
		
		<%mftext('Miembro del HQ') do %>
		<ul>
			<li>Dar opinión sobre decisiones y propuestas</li>
			<li>Avisar de fallos y sugerencias a través del gestor de mejoras y bugs</li>
		</ul>
		<% end -%>
		
		<%mftext('Hacker') do %>
		<ul>
			<li>Cerrar incidencias (corregir bugs e implementar mejoras)</li>
		</ul>
		<% end -%>
		
		<%mftext('Diseñador') do %>
		<ul>
			<li>Crear y mantener skins</li>
			<li>Crear y mantener cabeceras</li>
			<li>Crear edificios para las facciones</li>
			<li>Crear banners de Gamersmafia</li>
		</ul>
		<% end -%>
	<% end -%>
	
	<%mftext('Arena', :has_submodules => true) do %>
		<%mftext('Gladiador') do %>
		<ul>
			<li>Promocionar la sección de competiciones</li>
			<li>Encargarse de que haya competiciones activas, ladders abiertas para los principales juegos, etc</li>
			<li>Supervisar las competiciones que se creen</li>
			<li>Supervisar a los admins de competiciones existentes</li>
		</ul>
		<% end -%>
		
		<%mftext('Admin de competición') do %>
		<ul>
			<li>Encargarse de que la competición de la que sea admin se desarrolle con normalidad (es decir, progrese)</li>
			<li>Gestionar a los supervisores</li>
			<li>Publicar noticias de competición para mantener informados a sus participantes</li>
		</ul>
		<% end -%>
		
		<%mftext('Supervisor de competición') do %>
		<ul>
			<li>Resolver partidas pendientes o conflictos</li>
		</ul>
		<% end -%>
	<% end -%>
</div>
</div>