<%# TODO cache this
%>
<% Dir.foreach("#{RAILS_ROOT}/public/images/smileys") do |smiley| 
	next unless (/\.gif$/ =~ smiley and not /^zz\./ =~ smiley and not /^rolf\./ =~ smiley ) %>
	<span style="margin: 2px;" class="<%=oddclass%>">
		<img class="smiley" style="cursor: pointer;" title="Insertar smiley" onclick="$j('#<%=params[:dom_id]%>').val($j('#<%=params[:dom_id]%>').val() + ' :<%=smiley.gsub('.gif', '')%>: ').focus();" src="/images/smileys/<%=smiley%>" />
    </span>
<% end %>