<%content_support(:show_ads => false) do %>
<a href="http://www.atlassian.com/software/jira/"><img src="/images/sponsors/jira.jpg" /></a><br /><br />
<a href="http://www.atlassian.com/software/bamboo/"><img src="/images/sponsors/bamboo.jpg" /></a><br /><br />
<a href="http://www.atlassian.com/software/confluence/"><img src="/images/sponsors/confluence.jpg" /></a><br /><br />
<a href="http://www.atlassian.com/software/fisheye/"><img src="/images/sponsors/fisheye.jpg" /></a><br />
<% end -%>

<%content_main do %>
<a href="http://www.atlassian.com/"><img src="/images/sponsors/atlassian.jpg" /></a><br /><br />
<p><a href="http://www.atlassian.com">Atlassian</a> es una compañía australiana de herramientas para equipos de desarrolladores. Atlassian nos ha estado cediendo desde hace años varios de sus productos:</p>
<p><strong>Jira</strong>: El más completo y ágil gestor de incidencias. Hemos probado Bugzilla, Mantis, archivos de texto plano y otras alternativas pero Jira está simplemente a años luz de sus competidores.</p>    
<p><strong>Confluence</strong>: Un wiki corporativo. Sus puntos fuertes son su integración con Jira, la facilidad de uso y la gran cantidad de funciones que soporta. Hemos probado MediaWiki y otros wikis pero nos quedamos con Confluence.</p>
<p><strong>Bamboo</strong> y FishEye: Herramientas especializadas para ciertas tareas de desarrollo. El equipo de desarrollo de Gamersmafia usa metodologías ágiles por lo que herramientas como un servidor de integración contínua y herramientas para visualizar grandes bases de código son esenciales.</p>
<% end -%>