<%generic_support(:show_ads => false) do %>
<% end -%>

<%content_main do %>
<a href="http://www.4frags.es/"><img class="icon" src="/images/sponsors/fourfrags.jpg" /></a><br /><br />
<p><a href="http://4frags.es">4Frags</a> es una de las más veteranas tiendas online españolas de pcs, accesorios y hardware en general para gamers.</a></p>
<p>Fue el primer anunciante privado que confió en nosotros y llevan en Gamersmafia desde tiempos inmemoriales.</p>
<p>Recomendamos <a href="http://www.4frags.es">4Frags</a> a cualquiera que necesite hardware de calidad y a buen precio.</p>   
<% end -%>