<% generic_support do %>
<% end -%>

<% content_main do %>
  <%mftext('Trastornos') do %>
  <p>Nuestro sentido de la responsabilidad nos obliga a mostraros lo que
  puede ocurrir cuando las cosas se van de las manos.</p>

  <ul class="skeletal">
    <li>
  <a title="Más información sobre esta desviación mental" href="<%=gmurl(Topic.find(9734))%>"><img class="example" src="/images/trastornos/zhysor.png" /></a><br />
  <div class="infoinline">16 de Junio de 2005, Foro de Unreal Tournament.
    </li>

    <li>
  <a title="Más información sobre esta desviación mental" href="/site/chat"><img class="example" src="/images/trastornos/bl4ck_panzer_flash-hack.png" /></a><br />
  <div class="infoinline">21 de Mayo de 2007, Webchat.
    </li>

    <li>
  <a title="Más información sobre esta desviación mental" href="/site/chat"><img class="example" src="/images/trastornos/dharana.png" /></a><br />
  <div class="infoinline">18 de Diciembre de 2005, Minichat.
    </li>

    <li>
  <a title="Más información sobre esta desviación mental" href="<%=gmurl(Topic.find(7761))%>"><img class="example" src="/images/trastornos/maradona.png" /></a><br />
  <div class="infoinline">31 de Enero de 2005, Foro de Quake 3.
    </li>


    <li>
  <a title="Más información sobre esta desviación mental" href="<%=gmurl(Topic.find(3417))%>"><img class="example" src="/images/trastornos/nitro.png" /></a><br />
  <div class="infoinline">23 de Julio de 2003, Foro.
    </li>


    <li>
  <a title="Más información sobre esta desviación mental" href="<%=gmurl(Topic.find(1265))%>?page=4"><img class="example" src="/images/trastornos/la_abuela.png" /></a><br />
  <div class="infoinline">5 de Octubre de 2002, Foro de UT.
    </li>
  </ul>
  <% end -%>
<% end -%>