<%content_support do %>
<%mftext('Ejemplos', :show_ads => false) do %>
<% end -%>
<% end -%>

<%content_main do %>
<%mftext('Webs gratis para clanes') do %>
<p>¿Te gustaría tener una web de clan de forma gratuita?</p>
<p>Gamersmafia te ofrece un servicio gratuito de webs para clanes.</p>

<p>Regístrate y crea tu clan. Así de fácil.</p>
<% end -%>
<% end -%>