<%content_main do %>
<h1>Fusiones</h1>
<p>¿Tienes una web dedicada a un videojuego o videoconsola? ¿Te gustaría formar parte de Gamersmafia?</p>
<p><strong><a href="/site/fusiones">Infórmate sobre nuestro programa de fusiones</a></strong>.</p>

<br />
<h1>Banners</h1>
<p>Cualquiera puede enlazarnos. Tenemos una <strong><a href="/site/banners">completa sección de banners</a></strong> listos para ser usados.</p>

<br />
<h1>Logo</h1>
<p>Si necesitas el logo de Gamersmafia está <strong><a href="/site/logo">disponible en varios formatos</a></strong>.</p>
<br />
<h1>Copyright</h1>
<h2>Contenidos aportados por los usuarios</h2>
<p>Todos los contenidos enviados por los usuarios están protegidos por el siguiente copyright excepto en caso de que se indique lo contrario:</p>
<div class="centered"><a target="_blank" class="external" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/es/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/es/88x31.png"/></a><br />
<a class="external" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/es/">Reconocimiento-No comercial-Compartir bajo la misma licencia 2.5 España</a></div>
<br />
<br />
<h2>Contenidos no aportados por los usuarios</h2>
<p>Todos los contenidos no enviados por un usuario son copyright &copy;Gamersmafia 2008 y no se permite su reproducción en otros medios sin previa aprobación por escrito.</p>

<% end -%>