<% content_main do %>
    <%mftext('Editar anuncio de reclutamiento') do %>

<script type="text/javascript">
	function update_reclutamiento_nuevo(mode) {
		if (mode == 'users') {
			$j('#searching_users').removeClass('hidden');
		}
		else {
			$j('#searching_users').addClass('hidden');
		}
	}
</script>

<form method="post" action="/reclutamiento/update">
	<input type="hidden" name="id" value="<%=@recruitment_ad.id%>" />
<%= render :partial => 'form' %>

<input type="submit" value="Guardar" />
</form>
<% end -%>
<% end -%>