<%generic_support do %>
<% end -%>

<%content_main do %>
<%mftext('Nuevo anuncio de reclutamiento') do %>
<script type="text/javascript">
	function update_reclutamiento_nuevo(mode) {
		if (mode == 'users') {
			$j('#searching_users').removeClass('hidden');
		}
		else {
			$j('#searching_users').addClass('hidden');
		}
	}
</script>

<form method="post" action="/reclutamiento/create">
<%= render :partial => 'form' %>
<%= render :partial => '/shared/new_content_tags' %>
<br />
<input type="submit" value="Crear" />
</form>
<% end -%>
<% end -%>
