<script type="text/javascript">
	function update_reclutamiento_nuevo(mode) {
		if (mode == 'users') {
			$j('#searching_users').removeClass('hidden');
		}
		else {
			$j('#searching_users').addClass('hidden');
		}
	}
</script>

<form method="post" action="/reclutamiento/anuncio_create">
<%= render :partial => 'form' %>

<input type="submit" value="Crear" />
</form>
