.autocomplete {
    background: #fff;
    border: 1px solid #888;
    cursor: pointer;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 200px;
    z-index: 100;
}

.autocomplete li {
    margin: 0;
    padding: 3px;
}

.autocomplete li.selected {
    background-color: #ffb;
}

.autocomplete strong.highlight {
    color: #800;
    margin: 0;
    padding: 0;
}
