/* unclean */
.comments-area .comment {
	clear: both;
	margin-top: 45px;
}

.comments-area .user-info,
.question-best-answer-comment .user-info {
  float: left;
  width: 72px;
}

.comments-area .user-info-holder .avatar { margin-bottom: 2px; }

.comments-area .user-info-bar {
  margin-left: 3px;
  width: 50px;
}
.comments-area .comment-header {
  margin-left: 77px;
}

.comments-area .avatar {
    margin-bottom: 6px;
}

.comments-area .comment-info {
    float: right;
    text-align: right;
    margin-right: 3px;
}

.comments-area .text {
    padding: 0px 5px 0px 80px;
}

.comments-area .comment-header div {
  display: inline-block;
}

.comments-area .comment-number {
  margin-right: 2rem;
}

.comments-area .authorship > .comment-number {
  margin: 2px 0 0 2px; /* necesario por el fucking ie */
  width: 100px;
}

.comments-area .post-comment {
    margin: 35px 0 0 3px;
}

.comments-area .comment-actions {
    margin-top: 14px;
}

.comments-container {
    margin-top: 0px;
}

#cmain > .comments-container {
    margin-top: 20px;
}

.comment-rating-state {
    margin-left: 98px;
    padding: 1px 0 2px 5px;
    width: 113px;
}

.moderate-comments-opener-detail {
    border-top: 1px solid;
    margin-top: 15px;
    margin-left: 77px;
}

.moderate-comments {
    border: 1px solid;
    width: 300px;
    margin-top: -3px;
    position: absolute;
    z-index: 3;
}

.report-comments {
	float: right;
	margin-top: 2px;
}

.report-comments.report-comment-with-sig {
	margin-top: 14px;
}

.moderate-comments ul {


}

.moderate-comments li {
    ;
}

.moderate-comments .good {
    float: left;
    width: 50%;
    background: #E8F6EA;
}

.moderate-comments .bad {
    float: left;
    width: 50%;
}

.moderate-comments .neutral {
    clear: left;
}

.moderate-comments a {
    padding-left: 3px;
    display: block;
    width: 100%;
}

#ccontent .moderate-comments a img {
    border: 0;
}

.moderate-comments-opener {
    display: inline;
}

.hidden-comments-indicator {
  margin-top: 30px;
  text-align: center;
}

/* Suicidal - clean styles from here and below */
.fullquote-comment {
  position: absolute;
  z-index: 100;
  padding: 8px;
  background: #fff;
  background: #FFFFF0;
  border-color: #CFCEAF;
  width: 50%;
}

.image-deleter {
  z-index: 100;

  /* TODO(slnc): temp hack until we have an icon here */
  font-weight: bold;
  float: right;
  margin: 1px;
  padding: 3px;

  cursor: pointer;
}

.droparea {
  border: 3px dashed;
  width: 16rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  cursor: default;
  margin: 30px 0 10px 0;
  margin: 3rem 0 1rem 0;
}

.droparea div {
  padding-left: 1rem;
}

.inline-menu li {
  display: inline-block;
  margin-right: 1em;
}

.inline-menu li:last-child {
  margin-right: 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.user-link {
  font-weight: bold;
}

.fullquote-comment {
  border: 1px solid #ccc;
  -moz-box-shadow:    3px 3px 3px 3px #ddd;
  -webkit-box-shadow: 3px 3px 3px 3px #ddd;
  box-shadow:         3px 3px 3px 3px #ddd;
}

.image-gallery-sm .image2 {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 3px;
  border: 3px solid;
}

.image-editor .image2 {
  width: 100%;
  display: inline-block;
  margin: 3px;
  border: 3px solid #fff;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: pointer;
}

/* Old uncleaned */
.comment-rating-state {
  border: 1px solid;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

.comments-sig {
  font-style: italic;
  text-align: right;
  margin-bottom: -14px;
}

.moderate-comments a {
  font-weight: bold;
}

#comment_comment {
  height: 50px;
}

.comment-textarea {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.inactive .user-info .user-info-bar,
.inactive .user-info .emblemas,
.inactive .comments-sig {
  opacity: 0.4;
}

.inactive .user-info .avatar {
  opacity: 0.8
}

.inactive .comment-header {
  opacity: 0.8
}

.inactive .comment-header .comment-info,
.inactive .moderate-comments-opener-detail {
  opacity: 1.0;
}

.inactive .user-info .user-info-bar,
.inactive .user-info .emblemas,
.inactive .comment-header,
.inactive .comment-header .comment-info,
.inactive .moderate-comments-opener-detail,
.inactive .user-info .avatar,
.inactive .comments-sig {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
