#content-stats {
  float: right;
  width: 120px;
  text-align: center;
  margin-right: 0px;
  margin-top: 5px;
}

.content-rating {
  width: 120px;
  text-align: center;
}

#content-stats-title {
  float: right;
  width: 65px;
  margin-top: 8px;
  margin-right: 15px;
}
