.emblem {
  width: auto;
  border: 1px solid;
  padding: 0 10px 0 5px;
  font-weight: bold;
  border-radius: 5px;
  margin: 2px 4px;
  display: inline-block;
}

.user-info .emblemas td {
  text-align: center;
}
