#mgheader .logo {
  display: inline-block;
  font-size: 16px;
  line-height: 35px;
}

#mgheader a:hover.logo {
  text-decoration: none;
}

#mgheader .mascot {
  font-size: 45px;
}

#mgheader .letters {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  position: absolute;
}

/* Fix para posicionar el logo correctamente en navegadores basados en Webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #mgheader .letters {
    margin-left: 55px;
    margin-top: -45px;
  }
}

