.members-user-info ul {
  margin: 5px 0 0 52px;
  
  text-align: left;
  ;
}

.members-user-info .avatar {
  float: left;
  margin-right: 3px;
}

.members-user-info li {
  width: 69px;
  margin-bottom: 2px;
}
