.members-user-info ul {
  margin: 5px 0 0 52px;
  padding: 0;
  text-align: left;
  list-style: none;
}

.members-user-info .avatar {
  float: left;
  margin-right: 3px;
}

.members-user-info li {
  width: 69px;
  line-height: 10px;
  margin-bottom: 2px;
}
