#mgbreadcrumb {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#mgbreadcrumb li+li:before {
  content: '\0000bb ';
  padding-right: 1rem;
}

#mgbreadcrumb li {
  display: inline-block;
  padding-left: 1rem;
}

#mgbreadcrumb li:first {
  padding-left: 0;
}

#mgbreadcrumb li a {
  display: inline-block;
}
