#sawtop {
    position: absolute;
    top: 0;
    margin-left: 220px;
    border-bottom: 2px solid #6c0000;
    height: 23px;
    width: 560px;
    border-right: 1px solid #630000;
    border-left: 1px solid #630000;
    background: #960000 url(/skins/default/images/gm20085navmenu_bottom.png) left 19px repeat-x;
}

.madness #thesaw {
    margin-left: 275px;
	margin-top: -65px;
	width: 0; overflow: hidden;
}

.madness #sawtop {
	margin-left: 0;
	position: relative;
	margin-top: 0px;
}

.madness #sawbottom {
	margin-left: 0;
	position: relative;
	margin-top: 0px;
	top: 0;
}

.madness #show-menu {
	float: left;
	position: absolute;
	margin-left: 200px;
	margin-top: -20px;
	cursor: pointer;
	color: #fff;
	text-align: center;
}

.madness #show-menu span {
    background: url(/skins/default/images/mgglobalmenu/leftarrow.png) right center no-repeat; padding-right: 20px; }
.madness #show-menu.shown span {
    background: url(/skins/default/images/mgglobalmenu/rightarrow.png) right center no-repeat;
}

#sawtop.hq {
    width: 460px;
}

#sawtop.anunciante {
    width: 514px;
}

#sawtop.full {
    width: 560px;
}

#sawtop ul {
    margin: 0;
    padding: 0 0px;
}

#sawtop li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 23px;
}

#sawtop li span {
    display: none;
    visibility: hidden;
}

#sawtop li div.f {
    display: block;
    float: left;
    height: 23px;
    margin: 0 2px 0 9px;
    padding: 0;
}

#sawtop a {
    display: block;
    width: 100%;
    height: 23px;
}

#sawtop li > div.f {
    margin-left: 18px;
}


#sawtop li.alter div.f {
    height: 24px;
    margin: 0 3px 0 6px
}

#sawtop li.alter .sawtop-arrow {
    display: none;
    visibility: hidden;
}


.sawtop-arrow {
    float: left;
    margin-top: 8px;
    width: 11px;
    height: 11px;
    background: url(/skins/default/images/gm20085navmenu.png) -184px -4px no-repeat;
}

#sawli-comunidad div.f {
    width: 72px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 0 no-repeat;
}

#sawli-facciones div.f {
    width: 61px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -23px no-repeat;
}

#sawli-arena div.f {
    width: 39px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -46px no-repeat;
}

#sawli-bazar div.f {
    width: 37px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -69px no-repeat;
}

#sawli-foros div.f {
    width: 36px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -92px no-repeat;
}

#sawli-hq div.f {
    width: 17px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -115px no-repeat;
}

#sawli-anunciante div.f {
    width: 72px;
    background: url(/skins/default/images/gm20085navmenu.png) 0 -138px no-repeat;
}

#sawli-comunidad.alter div.f {
    width: 94px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -0px no-repeat;
}

#sawli-facciones.alter div.f {
    width: 83px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -32px no-repeat;
}

#sawli-arena.alter div.f {
    width: 61px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -64px no-repeat;
}

#sawli-bazar.alter div.f {
    width: 59px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -96px no-repeat;
}

#sawli-foros.alter div.f {
    width: 58px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -128px no-repeat;
}

#sawli-hq.alter div.f {
    width: 39px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -160px no-repeat;
}

#sawli-anunciante.alter div.f {
    width: 94px;
    background: url(/skins/default/images/gm20085navmenu.png) -76px -193px no-repeat;
}

#sawbottom {
    position: absolute;
    top: 23px;
    margin-left: 215px;
    height: 43px;
    width: 615px;
    background: url(/skins/default/images/gm20085navmenu.png) -6px -250px no-repeat;
}

#sawbottom ul {
    margin: 0;
    padding: 8px 13px;
}

#sawbottom ul {
    padding-top: 6px;
}

ul#sawbody-facciones li {
    padding-top: 0;
}

li#sawbody-facciones-faccion {
    width: 130px;
}

li#sawbody-facciones-faccion a {
    width: 130px;
}

li#sawbody-facciones-nuevafaccion {
    position: absolute;
    top: 22px;
    left: 40px;
    padding-top: 0px;
}

li#sawbody-facciones-nuevafaccion a {
    font-size: 10px;
}

/* necesario especificar widths por ie */
#mggnav-bazar-themes {
    width: 100px;
}

#mggnav-bazar-themes a {
    width: 100px;
}

#mggnav-hq-admin a {
    width: 135px;
}

#mggnav-hq-admin {
    width: 135px;
}

li#sawbody-comunidad-nuevoclan2 {
    position: absolute;
    left: 515px;
}

.saw-dropdownlist {
    border: 1px solid;
    z-index: 4;
}

#mggnav-clans {
    position: absolute;
    top: 8px;
    left: 510px;
}

#mggnav-skins {
    position: absolute;
    top: 8px;
    left: 510px;
}

#mggnav-arena-mycompetitions {
    position: absolute;
    top: 4px;
    left: 460px;
    width: 130px;
}

#mggnav-arena-mycompetitions a {
    width: 130px;
}

#mggnav-arena-mycompetitions-list {
    position: absolute;
    top: 26px;
    left: 420px;
}

#mggnav-clans a {
    width: 50px;
}

.mggnav-clans-new-clan {
    padding: 5px 0 0 0;
}

.mggnav-clans-all-my-clans {
    padding: 0 0 5px 0;
}

li#sawbody-facciones-staff {
    position: absolute;
    left: 554px;
    top: 21px;
}

li#sawbody-facciones-information {
    position: absolute;
    left: 406px;
    top: 21px;
}

li#sawbody-facciones-miembros {
    position: absolute;
    left: 485px;
    top: 21px;
}

li#sawbody-distrito-staff a, li#sawbody-facciones-staff a, li#sawbody-facciones-information a, li#sawbody-facciones-miembros a {
    font-size: 11px;
}

li#sawbody-distrito-staff {
    position: absolute;
    left: 554px;
    top: 20px;
}

#sawbottom a {
    font-size: 12px;
}

#sawbottom li {
    list-style: none;
    float: left;
    margin: 3px 15px 0 0;
}

#sawbottom .saw-dropdownlist li {
    float: none;
}

#sawbottom .saw-dropdownlist a {
    width: 100%;
    display: block;
}

ul#sawbody-bazar {
    padding-top: 4px;
    line-height: 17px;
}

#sawbody-hq-issues {
    background: url(/images/issues.png) 0 0 no-repeat;
    padding-left: 18px;
    padding-bottom: 2px;
}

#sawbody-hq-wiki {
    background: url(/images/confluence.png) 0 0 no-repeat;
    padding-left: 18px;
    padding-bottom: 2px;
}

#sawbody-hq-experimentos {
    background: url(/images/experimentos.png) 0 0 no-repeat;
    padding-left: 18px;
    line-height: 18px;
    padding-bottom: 2px;
}

/* From old mggnav.css, can be probably cleaned up */
#mggnav a {
	font-weight: bold;
    text-decoration: none;
}

#mggnav a:hover {
    text-decoration: underline;
}

#mggnav ul {
    list-style: none;
    display: inline;
}

#mggnav li {
    float: left;
    padding: 0 10px;
    line-height: 18px;
    height: 20px;
    font-variant: small-caps;
    list-style: none;
}

li#mggnav-gm {
	padding-left: 20px;
}

#mggnav-factions-list {
    position: absolute;
    z-index: 4;
    top: 47px;
    left: 229px;
    width: 670px;
    height: 220px;
	border: 1px solid;
}

#mggnav-factions-list td,
#mggnav-hq-list td {
    text-align: left;
    font-variant: normal;
    font-size: 11px;
    padding-left: 15px;
    width: 33%;
}

#mggnav-factions-list a,
#mggnav-hq-list a {
    line-height: 16px;
    display: block;
	font-weight: normal;
}

#mggnav-factions-list a img {
    margin-right: 5px;
}

#mggnav-games-list {
    width: 500px;
    float: left;
}

#mggnav-platforms-list {
	border-left: 1px solid;
    width: 150px;
    float: left;
    margin-left: 10px;
}


#mggnav-hq-list {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 327px;
    width: 110px;
    height: 75px;

}
