.userbox-karma-bar {
  width: 93px;
  height: 11px;
}

/* USERBOX */
#new-content-selector {
  position: absolute;
  right: 13px;
  top: 12px;
  width: 120px;
  border: 1px solid;
  z-index: 30;
}

#new-content-selector a {
  text-decoration: none;
}

#new-content-selector .close {
  float: right;
  margin: 2px;
}

#new-content-selector ul {
  text-align: left;
}

#new-content-selector li a {
  padding-left: 3px;
  padding-right: 3px;
  display: block;
  width: 100%;
}

#new-content-selector .title {
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-top: 3px;
}
