.tag-page-header {
  background: #000;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 110px;
  height: 110px;
  background-size: auto 110px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 1rem;
}

.tag-header-image-thumbnail {
  max-width: 100%;
  height: auto;
}
