.product-line {
    text-align: left;
}

.product-img {
    text-align: center;
    margin: 5px 0;
}

.product-img img {
    width: 84px;
    height: 84px;
}

#ccontent .product-img a img {
    border: 0;
}
