.topnavbar {
  text-align: left;
  height: 4.0rem;
  z-index: 101;
}

.topnavbar img {
  border: 0;
}

/**
 * TODO(slnc): temp hack
 */
.topnavbar .karma  {
  font-weight: normal;
}

.topnavbar .topnavbar-container {
  padding: 8px 2rem 8px 2rem;
}

.topbar-block {
  display: inline-block;
  margin-right: 2rem;
  line-height: 2rem;
}

.topbar-search {
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 101;
}

.topbar-search .text {
  width: 125px;
  line-height: 1rem;
}

.topbar-search .button {
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

#topbar-portal-submenu li {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
}

.gm-icon-button a:hover {
  text-decoration: none;
}

.topbar-profile-options {
  margin-top: 4px;
}

.topbar-stats .stat {
  display: inline-block;
  margin-right: 10px;
}

.popup {
  position: absolute;
  background: #000;
  width: auto;
  padding: 10px;
  margin-left: -10px;
  z-index: 10;
  min-width: 150px;
  max-width: 500px;
  -moz-box-shadow: 5px 5px 3px #000;
  -webkit-box-shadow: 5px 5px 3px #000;
  box-shadow: 5px 5px 3px #000;
}

#topbar-user-actions li,
.dropdown li {
  margin: 0 0 8px 8px;
}

#topbar-sitemap .sections-list2 {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

#topbar-sitemap {
  max-width: 90%;
}

#topbar-sitemap ul {
  margin: 0 0 40px 0;
}

#topbar-sitemap li {
  margin: 0 0 8px 0;
}

#topbar-sitemap a {
  display: block;
  width: 100%;
}

#topbar-sitemap header {
  font-weight: bold;
  margin-bottom: 4px;
}

#topbar-portal-submenu {
  text-align: left;
  height: 3rem;
  z-index: 102;
  position: absolute;
  width: auto;
  margin-left: 10rem;
  padding: 0 2rem;
  -moz-box-shadow: 5px 5px 3px #000;
  -webkit-box-shadow: 5px 5px 3px #000;
  box-shadow: 5px 5px 3px #000;
}

#topbar-portal-submenu ul {
  display: inline-block;
}

#mgfriends-online-table li {
  margin: 0 0 8px 0;
}

.topnavbar-container {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 225px;
}
