.user-listing {
    ;
    
    
}

.user-listing li {
    clear: left;
    padding-top: 4px;
    height: 1%;
    overflow: hidden;
}

.user-listing li span.nick {
    font-weight: bold;
}

.user-listing li .photo {
    float: left;
    margin: 2px;
}
