/*
body {

  background: #000;
  color: #ccc;
}

a {
  color: #fff;
}

a:visited {
  color: #aaa;
}

#main {
  background: #fff;
  color: #000;
}
*/

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: pointer;
}
