/* ...
*= require_self
*/
$alt1-bg: #f2f2f2;
$bad-block-bg: #faefef;
$bad-block-border-color: #ad0011;
$bad-block-color: #ad0011;
$bad-color: #a90014;
$bad-link-color: #a60000;
$blockquote-bg: #fffff0;
$blockquote-border-color: #cfceaf;
$body-bg: #fff url(/skins/default/images/layout/bricks.jpg) left 0 repeat;
$body-color: #333;
$button-border-color: #700;
$button-border-shadow-color: #f00;
$button-color: #fff;
$button-bg: #c00;
$dropdown-color: #777;
$dropdown-bg: #000;
$dropdown-header-color: #444;
$footer-bg: #fff;
$footer-border-color: #dfdfdf;
$full-page-overlay-bg: #000;
$good-block-bg: #f0fff0;
$good-block-color: green;
$good-block-border-color: green;
$good-color: #00790b;
$good-link-color: #228b29;
$heading-color: #000;
$link-color: #0049a3;
$link-visited-color: #3b0093;
$link-hover-color: #000000;
$page-level-content-bg: #fff;
$page-level-content-color: #222;
$page-level-content-border-color: #ddd;
$page-level-header-bg: #fff url(/skins/default/images/header_bg.png) right 25px no-repeat;
$percent-bar-fg: #ddd;
$percent-bar-bg: #fafafa;
$percent-bar-bg-border-color: #ddd;
$percent-bar-twoclasses-bg: #ddd;
$percent-bar-twoclasses-fg: #ccc;
$popup-bg: #000;
$popup-color: #ddd;
$popup-border-color: #000;
$selected-bg: #ffffc6;
$secondary-color: #8b8b8b;
$secondary-block-bg: #f7f7f7;
$secondary-block-border-color: #e4e5e4;
$secondary-link-hover-color: #000;
$header-bg: #000;
$header-color: #fafafa;
$header-secondary-color: #fff;
$header-secondary-bg: #555;
$subheader-bg: #fafafa;
$subheader-color: #000;
$subheader-border-color: #e0e0e0;
$submenu-bg: #891801;
$submenu-color: #bbb;
$submenu-link-color: #fff;
$topbar-bg: #222;
$topbar-color: #777;
$topbar-link-color: #fff;
$topbar-notification-color: #e00;
$unread-item-bg: #002e64;
$unread-item-color: #dadada;
$user-input-bg: #fff;
$user-input-border-color: #dfdfdf;
$user-input-color: #000;
$user-input-selected-bg: #ffb;
$user-input-overlay-control-bg: #000;
$user-input-overlay-control-color: #fff;

@import "colors";
