/* ...
*= require_self
*/
$alt1-bg: #fff;
$bad-block-bg: #fff;
$bad-block-border-color: #fff;
$bad-block-color: #000;
$bad-color: #000;
$bad-link-color: #000;
$blockquote-bg: #fff;
$blockquote-border-color: #fff;
$body-bg: #fff;
$body-color: #000;
$button-border-color: #fff;
$button-border-shadow-color: #fff;
$button-color: #000;
$button-bg: #fff;
$dropdown-color: #000;
$dropdown-bg: #fff;
$dropdown-header-color: #000;
$footer-bg: #fff;
$footer-spirit-bg: url(/skins/default/images/layout/footer_spirit.png);
$footer-border-color: #fff;
$full-page-overlay-bg: #fff;
$good-block-bg: #fff;
$good-block-color: #000;
$good-block-border-color: #fff;
$good-color: #000;
$good-link-color: #000;
$heading-color: #000;
$link-color: #000;
$link-visited-color: #000;
$link-hover-color: #000;
$page-level-content-bg: #fff;
$page-level-content-color: #000;
$page-level-content-border-color: #fff;
$page-level-header-bg: #fff;
$percent-bar-fg: #ddd;
$percent-bar-bg: #fff;
$percent-bar-bg-border-color: #fff;
$percent-bar-twoclasses-bg: #ddd;
$percent-bar-twoclasses-fg: #ccc;
$popup-bg: #fff;
$popup-color: #000;
$popup-border-color: #fff;
$selected-bg: #fff;
$secondary-color: #888;
$secondary-block-bg: #fff;
$secondary-block-border-color: #fff;
$secondary-link-hover-color: #000;
$header-bg: #fff;
$header-color: #000;
$header-secondary-color: #000;
$header-secondary-bg: #fff;
$subheader-bg: #fff;
$subheader-color: #000;
$subheader-border-color: #fff;
$submenu-bg: #fff;
$submenu-color: #000;
$submenu-link-color: #000;
$topbar-bg: #fff;
$topbar-color: #000;
$topbar-link-color: #000;
$topbar-notification-color: #000;
$unread-item-bg: #fff;
$unread-item-color: #000;
$user-input-bg: #fff;
$user-input-border-color: #fff;
$user-input-color: #000;
$user-input-selected-bg: #fff;
$user-input-overlay-control-bg: #fff;
$user-input-overlay-control-color: #000;

@import "colors";
