/* Font families */
body, input, textarea {
	font-family: Tahoma, Arial, "sans-serif";
}

.f_sm {
	font-family: Verdana, Arial, "sans-serif";
}

.f_number {
	font-family: Georgia, "Courier New", "Times New Roman", serif;
}


/* Font sizes */
body, body td, input, textarea {
	font-size: 12px;
}

.f_sm {
	font-size: 10px;
}

h1 { font-size: 1.55em; letter-spacing: 0.09em; word-spacing: 0.09em}
h2 { font-size: 1.45em; letter-spacing: 0.09em; }
h3 { font-size: 1.36em; letter-spacing: 0.09em; }
h4 { font-size: 1.27em; letter-spacing: 0.09em; }
h5 { font-size: 1.18em; letter-spacing: 0.09em; }
h6 { font-size: 1.09em; }

/* Font decorations */
.module .mtitle {
	font-size: 1.09em;
	font-weight: bold;
}

p {
	font-size: 1em;
	line-height: 1.55em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.infoinline a {
  text-decoration: underline;
}

.content-snippet .content-title {
  font-size: 22px;
  line-height: 24px;
}
