<% content_support do %>
	<div class="sidething-spaced"><a href="<%=gmurl(@faction)%>">Ver ficha pública</a></div>
<% end -%>

<% content_main do %>
<%mftext('Editar facción') do %>

<%= form_tag({:action => 'update', :id => @faction}, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
</form>

<br />
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>