<% generic_support do %>
<% end %>

<% content_main do %>
  <%mftext('Categorías') do %>
    <%=render :partial => '/admin/categorias/categorias_selector' %>
    <div id="categorias_content"></div>
    <% end -%>
  <% end -%>
<% end -%>
