<%mftext('Pregunta') do %>
		<form method="post" action="/respuestas/new">
			<textarea style="width: 220px; height: 50px;" name="question[title]"></textarea>
			<br />
			<input type="submit" value="Preguntar" />
		</form>
<% end -%>