<% content_main do %>
<% mftext('Nueva pregunta') do 
@question = Question.new unless defined?(@question)
%>

<%= form_tag({:action => 'create'}, :multipart => true )%>
  <%= render :partial => 'form' %>
  <br />
  <%= submit_tag 'Enviar pregunta' %>
</form>

<br />
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>