<% content_main do %>
<% mftext('Nueva pregunta') do
@question = Question.new unless defined?(@question)
%>

<%= form_tag({:action => 'create'}, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Enviar pregunta' %>
</form>
<% end -%>
<% end -%>
