<%content_main do %><h1>Error del servidor</h1>
<img src="/skins/default/images/500.png" align="right" />
<p>Estamos sufriendo un.. problema técnico en estos momentos. Por favor, vuelve a intentarlo más tarde.</p>
<p style="padding-top: 20px; clear: right;">Se le ha enviado un email al webmaster para tratar de reestablecer el control lo antes posi[NO CARRIER].</p>
<% end -%>