<%content_main do%>
  <h1 class="f_giga">Acceso denegado</h1>
  <% if user_is_authed then %>
    <p>No tienes permiso para acceder a esta página.</p>
  <% else %>
    <p>Necesitas iniciar sesión para poder acceder a esta página.</p>
  <% end -%>
  <%=gm_icon("access-denied", "full-page")%>
  <br />
  <br />
<% end -%>
