<%content_main do%><h1>Página no encontrada</h1>
<img src="/skins/default/images/404.png" align="right" />
<p>La página solicitada no se ha encontrado...</p>
<p style="clear: right;">... aunque tenemos <a href="/">muchas más</a>.</p>
<% end -%>