<%content_main do%>
  <h1 class="f_giga">Página no encontrada</h1>
  <p>La página solicitada no se ha encontrado...</p>
  <p style="clear: right;">... aunque tenemos <a href="/">muchas más</a>.</p>
  <%=gm_icon("error-404", "full-page")%>
<% end -%>
