<% if defined?(category) and not category.nil? and not category.parent_id.nil? then %>
<%mftext('Otras categorías') do %>
<ul class="content-hid">
  <% for c in Term.find(:all, :conditions => ['parent_id = ? AND taxonomy = \'ReviewsCategory\'', category.parent_id], :order => 'lower(name) ASC') %>
  <li><%if category.id == c.id%><strong><% end -%><%=link_to c.name, "/reviews/#{c.id}"%><%if category.id == c.id%></strong><% end -%></li>
  <% end -%>
</ul>
<% end -%>
<% end -%>