<% content_main do %>
  <% mftext('Staff de Gamersmafia') do %>
    <table>
    <% StaffType.find(
           :all,
           :order => 'lower(name)').each do |staff_type| %>
      <tr>
        <td><%= staff_type.name %></td>
        <td><%# =staff_position.staff_candidate.user.login %></td>
      </tr>
    <% end -%>
    </table>
  <% end -%>
<% end -%>

<% generic_support do %>
  <%mftable('Candidaturas abiertas',
            StaffPosition.candidacy_presentation.find(
              :all, :order => 'term_starts_on, lower(staff_types.name)',
              :include => [:staff_type])) do |staff_position| %>
    <td><%=link_to(staff_position.staff_type.name,
                   staff_position_path(staff_position))%></td>
  <% end -%>

  <%mftable('En votación',
            StaffPosition.voting.find(
              :all, :order => 'term_starts_on, lower(staff_types.name)',
              :include => [:staff_type])) do |staff_position| %>
    <td><%=link_to(staff_position.staff_type.name,
                   staff_position_path(staff_position))%></td>
  <% end -%>

  <% if user_is_authed && @user.has_skill_cached?("Webmaster") %>
     <%mftable('Vacantes',
               StaffPosition.unassigned.find(
                 :all, :order => 'term_starts_on, lower(staff_types.name)',
                 :include => [:staff_type])) do |staff_position| %>
       <td><%=link_to(staff_position.staff_type.name,
                      staff_position_path(staff_position))%></td>
     <% end -%>
   <% end -%>
<% end %>

