<div id="footer-spirit"></div>

<div id="mgfooter" class="module secondary navbar centered">
<% if user_is_authed then %>
<% cache('/common/gmversion') do %>

<%n = News.published.find(
    :first,
    :conditions => "title LIKE 'Gamersmafia actualizada a la versión%'",
    :order => 'created_on DESC')
    url = n ? gmurl(n) : '/noticias' %>

<div id="gmversion" class="f_milli centered">
  <div class="content<%=n ? n.id : 'foooo'%> new unread-item">
    <a href="<%=url%>"><%=n ? n.title.split(' ').last : 'HEAD' %></a>
  </div>
</div>

<% if n %>
<script type="text/javascript">contents = contents.concat(
    <%=n.id%>);</script>
<% end -%>
<% end -%>
<% end -%>

<div class="mcontent">
  <ul class="second">
    <li><a href="/site/acercade">acerca</a></li>
    <li><a href="/site/faq">ayuda</a></li>
    <li><a href="/site/netiquette">código de conducta</a></li>
    <li><a href="/site/privacidad">privacidad</a></li>
    <li><a href="/site/rss">rss</a></li>
  </ul>
</div>
</div>
