<div id="footer-spirit"></div>
<div id="mgfooter" class="module">  
  <div class="mcontent">	
	<ul class="second">
		<li><a href="/site">acerca de</a></li>
		<li><a href="/site/faq">ayuda</a></li>
		<li><a href="/site/contactar">contactar</a></li>
		<li class="last"><a href="/site/netiquette">código de conducta</a></li>
	</ul>
  </div>
</div>