<div id="footer-spirit"></div>

<div id="mgfooter" class="module">
	<% if user_is_authed then %>
<% cache('/common/gmversion') do %>
<%n = News.published.find(:first, :conditions => "title LIKE 'Gamersmafia actualizada a la versión%'", :order => 'created_on DESC')
url = n ? gmurl(n) : '/noticias' %>
<div id="gmversion"><div class="content<%=n ? n.unique_content_id : 'foooo'%> new"><a href="<%=url%>"><%=n ? n.title.split(' ').last : 'HEAD' %></a></div></div>
<% if n then %>
<script type="text/javascript">contents = contents.concat(<%=n.unique_content_id%>);</script>
<% end -%>
<% end -%>
<% end -%>
  <div class="mcontent">
	<ul class="second">
		<li><a href="/site/faq">ayuda</a></li>
    <li><a href="/site/netiquette">código de conducta</a></li>
    <li class="last"><a href="http://wiki.lastinieblas.com/">wiki</a></li>
	</ul>
  </div>
</div>
