<div id="mggmgeist">
  <div class="wrapper">
    <div class="header">
      <a title="wtf?" href="http://gamersmafia.com/noticias/show/52059"><img style="border: 0;" src="/images/iwantyou.png" /></a>
    </div>
    <a href="http://gamersmafia.com/noticias/show/52059" style="color: #c52f00;">gmGeist 2012</a>
  </div>
  <%=draw_pcent_bar(43.0/395)%>
</div>
