<% cache("/#{controller.portal_code}/site/last_commented_objects") do %>
<div class="f_deci f-module-title">Se está hablando en</div>
<% mfcontents_list(nil,
		get_last_commented_contents,
		:id => 'lastcomments',
		:show_even_if_empty => true) do |o| %>
	<a class="ellipsis" title="<%=o.main_category ? "#{o.main_category.root.code} | " : ''%><%=h o.resolve_hid%>" href="<%=controller.url_for_content_onlyurl(o)%>"><%=o.resolve_hid%></a>
<% end %>
<% end -%>
