<% if user_is_authed && @user.using_tracker %>
<div class="f_deci f-module-title">Tracker</div>
<%# NOTA Mostrar siempre el tracker, aunque no haya elementos. Hay gente que usa el "Ver tracker" aunque no haya items nuevos. %>
<% mflist(nil,
		   TrackerItem.updated_for_user(@user, true, 25).collect {|c| Content.new(c).real_content},
		   :id => 'tracker',
		   :class_container => 'mfcontents-ul',
	       :class => 'new unread-item',
		   :bottom => '<div style="text-align: right"><a class="nav f_micro" title="Ver todos los elementos de mi tracker" href="/cuenta/cuenta/tracker">ver tracker</a></div>',
		   :show_even_if_empty => true) do |o| %>
	<a class="ellipsis" title="<%=o.main_category ? "#{o.main_category.root.code} | " : ''%><%=h o.resolve_hid%>" href="<%=controller.url_for_content_onlyurl(o)%>"><%=truncate(o.resolve_hid, 26, '..')%></a>
<% end %>
<% end %>
