<div id="webs-aliadas" class="module right bottom">
      <div class="mcontent">
<% cache("/#{@portal.code}/webs_aliadas") do %>
  <% for l in @portal.factions_links %>
  <div class="centered banner"><a class="slncadt" id="factions-link<%=l.id%>" href="<%=l.url%>" title="<%=l.name%>" target="_blank"><img class="icon" src="<%=fc_path(l.image)%>" /></a></div>
  <% end -%>
<% end -%>
</div>
</div>