<!DOCTYPE HTML>
<html>
<head>
<title>Gamersmafia</title>
<link rel="stylesheet" media="all" href="/skins/h5/main.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
	<div id="gm-ribbon"></div>

	<div id="gm-window"><canvas id="gm-window-canvas"></canvas></div>

	<script type="text/javascript">$("#gm-ribbon").hover(
	function () {
	   $(this).addClass("hover"); },
	function () {
	   $(this).removeClass("hover");
	});

	function draw_b() {
        var b_canvas = document.getElementById("gm-window-canvas");
        var b_context = b_canvas.getContext("2d");
		// upper-left corner, width, heigh
        b_context.fillRect(0, 20, 20, 40);
		b_context.fillRect(20, 40, 30, 20);
    }
	draw_b();
	</script>

	<%= @content_for_layout %>
</body>

</html>
